<div [ngSwitch]="playlistItem.buttonType">
    <div *ngSwitchCase="'add'" class="playlist-container">
        <div class="btn-wrapper" [ngClass]="playlistItem.isSelected ? 'menu-selected' : ''">
            <img [src]="playlistItem.icon" alt="" />
            <button>{{ playlistItem.name }}</button>
        </div>
        <button class="add-btn" (click)="openNewPlaylistPanel()">
            <img src="../../../assets/images/add.svg" alt="add svg" />
        </button>
    </div>

    <div *ngSwitchCase="'remove'">
        <div class="btn-wrapper" [ngClass]="playlistItem.isSelected ? 'menu-selected' : ''">
            <img [src]="playlistItem.icon" alt="" />
            <button>{{ playlistItem.name }}</button>
        </div>
        <button class="add-btn">
            <img src="../../assets/images/trash.svg" alt="delete playlist" />
        </button>
    </div>

    <div *ngSwitchDefault class="btn-wrapper" [ngClass]="playlistItem.isSelected ? 'menu-selected' : ''">
        <img [src]="playlistItem.icon" alt="" />
        <button>{{ playlistItem.name }}</button>
    </div>
</div>

<!-- //TODO -->
<!-- <div class="btn-wrapper" [ngClass]="playlistItem.isSelected ? 'menu-selected' : ''">
    <img [src]="playlistItem.icon" alt="" />
    <button>{{ playlistItem.name }}</button>
</div> -->
