$--clr-grayish: #7b7b7b;
$--hover-bg-clr: rgba(138, 135, 135, 0.15);
$--select-bg-clr: hsl(139, 182, 113);
$--selected-bg-blue: rgb(29, 125, 215);
$--bg-glass: rgba(0, 0, 0, 0.85);
$--bg-mellow-black: rgb(40, 40, 40);

:host {
    width: 100%;
    height: 90vh;
    margin-right: auto;
    user-select: none;
    transition: width 0.1s linear;

    .song-list {
        width: 100%;
        height: 90vh;
        overflow-y: scroll;
        padding: 5rem 3rem;

        transition: width 0.1s linear;

        margin-right: auto;

        position: relative;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        > div:nth-of-type(1) {
            display: flex;
            align-items: center;

            > h2 {
                font-size: 1.5rem;
                color: white;
                line-height: 2;
            }
        }

        h1 {
            position: absolute;
            top: 20%;
            right: 40%;
            font-size: 1.5rem;
            color: white;
            line-height: 2;
        }

        > .placeholders-wrapper {
            position: absolute;
            top: calc(5rem + 3rem + 0.25rem);
            left: 3rem;
            width: calc(100% - 6rem);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.25rem;
             * {
                background: linear-gradient(var(--placeholder-rotation), $--bg-mellow-black, $--selected-bg-blue);
            }


        }

        .playlist-wrapper {
            display: flex;
            flex-direction: column;
            height: auto;
            align-items: center;

            > * {
                width: 98%;
            }

            > .playlist-options {
                > img {
                    width: 2rem;
                }
            }

            > .playlist-cover {
                width: 98%;
                height: auto;
                overflow: unset;
                align-self: center;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            > .playlist-info {
                > p {
                    font-size: 0.8rem;
                }
            }

            > .playlist-options {
                display: flex;
                justify-content: flex-end;
            }

            &:hover {
                background: $--hover-bg-clr;
            }
        }
    }
    @media only screen and (max-width: 750px) {
        .song-list {
            height: calc(100vh - max(12vh, 102px));
        }
    }

    .list-compact-view {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        > div:nth-of-type(1) {
            grid-column: 1/-1;
            grid-row: 1 /1;

            align-self: baseline;
        }
    }

    .grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        > div:nth-of-type(1) {
            grid-column: 1/-1;
            grid-row: 1 /1;

            align-self: baseline;
        }
         .song-wrapper {
            display: flex;
            flex-direction: column;
            height: auto;

            > .song-cover {
                width: 98%;
                height: auto;
                overflow: unset;

                > img {
                    object-fit: contain;
                }
            }

            > .song-info {
                justify-content: flex-start;
                width: 98%;
            }

            > .song-prop {
                margin-left: 0.5rem;
            }

            > .more-options {
                height: 5%;
                bottom: 10%;
                top: unset;
            }

            > .options {
                bottom: 13%;
                top: unset;
            }
        }
    }
}
