$--bg-mellow-black: rgb(40, 40, 40);
$--selected-bg-blue: rgb(29, 125, 215);

:host {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 29.375rem;
    height: 32.125rem;
    background: $--bg-mellow-black;
    z-index: 999;
    padding: 4rem;

    .add-playlist-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        > div {
            width: 11rem;
            height: 11rem;
            background: $--selected-bg-blue;
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
                width: 50%;
                height: auto;
            }
        }

        > input {
            height: 3rem;
            width: 80%;
            padding-right: 1rem;
        }

        & > button {
            color: var(--clr-white);
            font-size: 1rem;
            // padding: 1rem 3rem;
            width: 12rem;
            height: 4rem;
        }

        > button:nth-of-type(1) {
            background: $--selected-bg-blue;

            &:hover {
                background: darken($--selected-bg-blue, 10);
            }

            &:active {
                background: darken($--selected-bg-blue, 20);
            }
        }

        > button:nth-of-type(2) {
            &:hover {
                background: darken($--bg-mellow-black, 3);
            }

            &:active {
                background: darken($--bg-mellow-black, 6);
            }
        }
    }
}
