<main>
    <section class="section-1" [ngClass]="isLyricPanelOpen ? 'section-close' : ''">
        <app-side-menu [isOpen]="!sideMenuOpen"></app-side-menu>
        <!-- // TODO -->
        <!-- <div class="side-menu">
            <div class="search">
                <input type="search" placeholder="جست و جو..." class="search-box" />
                <div class="search__icon"></div>
            </div>

            <div class="btn-wrapper menu-selected">
                <img src="../../../assets/images/playlist.svg" alt="" />
                <button>همه آهنگ ها</button>
            </div>

            <div class="btn-wrapper">
                <img src="../../../assets/images/favourite.svg" alt="" />
                <button>مورد علاقه</button>
            </div>

            <div class="playlist-container defualt-menu">
                <div class="btn-wrapper defualt-menu">
                    <img src="../../../assets/images/playlist-add.svg" alt="" />
                    <button>پلی لیست ها</button>
                </div>
                <button class="add-btn">
                    <img src="../../../assets/images/add.svg" alt="add svg" />
                </button>
            </div>

            <div class="profile-wrapper btn-wrapper">
                <p id="user-email"></p>
                <button>
                    <img src="../../../assets/images/logout.svg" alt="" />
                </button>
            </div>
        </div> -->
        <app-song-list [ngClass]="sideMenuOpen ? 'side-menu-opened' : ''"></app-song-list>
        <!-- // TODO -->
        <!-- <div class="song-list side-menu-opended">
            <div>
                <h2 class="song-list-header"></h2>
                <div class="song-list-view-wrapper">
                    <input type="radio" name="song-list-view" id="list-view" checked class="radio-btn" />
                    <label for="list-view" class="list-view-label">
                        <img src="../../../assets/images/controls/list.svg" alt="list view button" />
                    </label>

                    <input type="radio" name="song-list-view" id="list-compact-view" class="radio-btn" />
                    <label for="list-compact-view" class="list-compact-view-label">
                        <img src="../../../assets/images/controls/list-compact.svg" alt="list compact view button" />
                    </label>

                    <input type="radio" name="song-list-view" id="grid-view" class="radio-btn" />
                    <label for="grid-view" class="grid-view-label">
                        <img src="../../../assets/images/controls/list-grid.svg" alt="grid view button" />
                    </label>
                </div>
            </div>

            <div class="placeholders-wrapper"></div>
        </div> -->
    </section>

    <section class="music-controls">
        <app-play-controllers (lyricToggle)="lyricPanelToggle()"></app-play-controllers>
    </section>
    <!-- //TODO -->
    <!-- <section class="lyric-wrapper">
        <button id="return" class="display-none">
            <img src="../../../assets/images/controls/previous-1.svg" alt="" />
        </button>

        <div class="lyrics-music-cover">
            <img src="../../../assets/images/default-song-cover.svg" alt="song cover" id="lyric-music-cover" />
            <div class="music-info">
                <p id="lyric-music-name"></p>
                <p id="lyric-music-artist"></p>
            </div>
        </div>

        <div class="lyrics-text">
            <p class="lyric-text"></p>
        </div>
    </section> -->
    <!-- QWEQWEQWEYQWEYQWYEQWUIYIUIYUYI -->
    <app-lyrics [isPanelOpen]="isLyricPanelOpen" (toggleLyric)="lyricPanelToggle()"></app-lyrics>

    <section></section>

    <section class="mobile-navigation">
        <div class="music-contolers">
            <button id="lyrics-btn-mobile">
                <img src="../../../assets/images/controls/lyric.svg" alt="lyrics button" />
            </button>

            <div class="mobile-info">
                <p>
                    <span class="mobile-music-name"></span><span>&nbsp;•&nbsp;</span>
                    <span class="mobile-artist-name"></span>
                </p>
            </div>

            <button class="play-music-btn">
                <img src="../../../assets/images/controls/play-button.svg" alt="play puase button" />
            </button>
        </div>

        <div class="tab-navigation">
            <button id="all-songs-tab-navigation-mobile" class="tab-nav">
                <img src="../../../assets/images/playlist.svg" alt="all songs tab" />
                <p>همه آهنگ ها</p>
            </button>

            <button class="tab-nav">
                <img src="../../../assets/images/favourite.svg" alt="favourite songs tab" />
                <p>مورد علاقه</p>
            </button>

            <button class="tab-nav">
                <img src="../../../assets/images/playlist-add.svg" alt="playlist tab" />
                <p>پلی لیست ها</p>
            </button>

            <button class="tab-nav">
                <img src="../../../assets/images/logout.svg" alt="logout button" />
                <p>خروج</p>
            </button>
        </div>
    </section>
</main>
<div class="bg-cover"></div>
<div class="dark-glass"></div>

<div class="dark-glass3 display-none"></div>

<div class="mobile-song-preview display-none">
    <button class="mobile-song-preview-return">
        <img src="../../../assets/images/controls/previous-1.svg" alt=" back button" />
    </button>

    <img src="../../../assets/images/default-song-cover.svg" alt="song cover" class="mobile-preview-song-cover" />

    <div class="mobile-info mobile-info-animation">
        <p class="mobile-preview-name-section">
            <span class="mobile-music-name"></span><span>&nbsp;•&nbsp;</span><span class="mobile-artist-name"></span>
        </p>
    </div>

    <div class="music-bar-wrapper">
        <p class="current-time"></p>
        <input
            type="range"
            class="seek-slider"
            max="100"
            value="0"
            onchange="updateMobileMusicBarValue(this.value);"
            step="1"
            oninput="updateMobileMusicBarValue(this.value)"
        />
        <p class="end-time"></p>
    </div>

    <div class="mobile-preview-controls">
        <button class="size-1 ctl-btn shuffle-btn" data-tooltip="درهم‌رختن">
            <img src="../../../assets/images/controls/shuffle.svg" alt="shuffle button" />
        </button>

        <button class="size-1 ctl-btn next-btn" data-tooltip="بعدی">
            <img src="../../../assets/images/controls/next.svg" alt="next music button" />
        </button>

        <button class="size-2 ctl-btn play-music-btn" data-tooltip="پخش">
            <img src="../../../assets/images/controls/play-button.svg" alt="play puase button" />
        </button>

        <button class="size-1 ctl-btn previous-btn" data-tooltip="قبلی">
            <img src="../../../assets/images/controls/back.svg" alt="previous music button" />
        </button>

        <button class="size-1 ctl-btn repeat-btn" data-tooltip=" تکرار">
            <img src="../../../assets/images/controls/repeat.svg" alt="repeat mode button" />
        </button>
    </div>

    <button class="mobile-preview-like">
        <img src="../../../assets/images/like.svg" alt="like img" />
    </button>

    <button class="mobile-preview-add-playlist">
        <img src="../../../assets/images/playlist.svg" alt="add to playlist" />
    </button>
</div>

<div *ngIf="!isLyricPanelOpen" class="side-menu-opener-closer" (click)="onToggleSideMenu()">
    <button id="side-menu-opener-closer-btn">
        <img [src]="sideMenuOpen?'../../../assets/images/add.svg':
        '../../../assets/images/controls/menu.svg'" alt="menu button"
        [ngClass]="sideMenuOpen?'rotate':''"
        />
    </button>
</div>

<div class="alert hide">
    <p class="msg">خطایی رخ داده است</p>
    <div class="close-btn">
        <img src="../../../assets/images/controls/cancel.svg" />
    </div>
</div>

<template id="song-wrapper-template">
    <div class="song-wrapper">
        <div class="song-cover">
            <img class="song-cover-img" loading="lazy" />
        </div>
        <div class="song-info">
            <p id="song-name"></p>
            <p id="artist-name"></p>
        </div>
        <div class="song-prop">
            <p id="duration"></p>
            <img class="fav-icon" />
        </div>
        <button class="more-options"></button>
        <div class="options">
            <p></p>
            <ul class="option-list"></ul>
        </div>
    </div>
</template>

<template id="all-playlist-list">
    <div class="playlist-wrapper">
        <div class="playlist-cover">
            <img class="platlist-cover-img" loading="lazy" />
        </div>
        <div class="playlist-info">
            <p id="playlist-name"></p>
        </div>
        <button class="playlist-options">
            <img src="../../../assets/images/trash.svg" alt="delete playlist" />
        </button>
    </div>
</template>

<!-- //TODO -->
