.song-wrapper {
  width: 100%;
  height: 3rem;
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;
}
.song-wrapper > .song-cover {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
.song-wrapper > .song-cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.song-wrapper > .song-cover .song-cover-play {
  height: 24px;
  width: 24px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-50%, 50%);
  opacity: 0;
  cursor: pointer;
}
.song-wrapper > :is(.song-prop, .song-info) {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
}
.song-wrapper > .more-options {
  height: 100%;
  width: 0.5rem;
  position: absolute;
  left: 0.5rem;
  display: none;
  align-items: center;
  justify-content: flex-start;
}
.song-wrapper > .more-options img {
  transform: scale(2);
}
.song-wrapper .more-options ~ .options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.8rem 0;
  z-index: 110;
}
.song-wrapper > .options {
  position: absolute;
  top: 30%;
  left: 1.5rem;
  background: #282828;
  display: none;
  z-index: 400;
  padding: 0.8rem 0;
  gap: 0.2rem;
  width: 16.25rem;
}
.song-wrapper > .options .button-wrapper {
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.song-wrapper > .options .button-wrapper button {
  color: var(--clr-white);
  width: 100%;
  text-align: right;
  height: 100%;
}
.song-wrapper > .options .button-wrapper img {
  height: 50%;
  width: auto;
  padding: 0 0.5rem;
}
.song-wrapper > .options .button-wrapper:hover {
  background: rgba(255, 255, 255, 0.1);
}
.song-wrapper > .options .button-wrapper:nth-of-type(1) img {
  margin-bottom: 0.5rem;
}
.song-wrapper > .options .button-wrapper:nth-of-type(2) img {
  margin-top: 0.15rem;
}
.song-wrapper > .options .button-wrapper--delete button {
  color: red !important;
}
.song-wrapper > .song-info {
  margin-right: 0.5rem;
}
.song-wrapper > .song-info > p:first-child {
  font-size: 0.85rem;
}
.song-wrapper > .song-info > p:last-child {
  color: #7b7b7b;
  font-size: 0.75rem;
}
.song-wrapper > .song-info > .author-name-selected {
  color: var(--clr-white) !important;
}
.song-wrapper > .song-prop {
  margin-right: auto;
  margin-left: 1.5rem;
  align-items: center;
}
.song-wrapper > .song-prop > img {
  width: 15px;
}
.song-wrapper:hover {
  background: rgba(138, 135, 135, 0.15);
}
.song-wrapper:hover .more-options {
  display: block;
}
.song-wrapper:hover .song-cover .song-cover-play {
  opacity: 0.6;
}

> .is-playing * {
  color: #1d7dd7 !important;
}

> .song-wrapper-selected {
  background-color: #1d7dd7;
}
> .song-wrapper-selected * {
  color: var(--clr-white) !important;
}
> .song-wrapper-selected:hover {
  background: #1d7dd7;
}

p {
  color: var(--clr-white);
  user-select: none;
}

.transparent-window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 100;
}

.display-block {
  display: block !important;
}

.song-wrapper-grid {
  display: flex;
  flex-direction: column;
  height: auto;
}
.song-wrapper-grid .song-cover {
  width: 98%;
  height: auto;
  overflow: unset;
  align-self: center;
  display: flex;
}
.song-wrapper-grid .song-cover > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  margin-top: 2px;
}
.song-wrapper-grid > .song-info {
  justify-content: flex-start;
  width: 98%;
}
.song-wrapper-grid .song-prop {
  margin-left: 0.5rem;
}
.song-wrapper-grid .song-prop img {
  width: 15px;
}
.song-wrapper-grid .more-options {
  height: 5%;
  bottom: 10%;
  top: unset;
}
.song-wrapper-grid .options {
  bottom: 13%;
  top: unset;
}

.song-wrapper-selected {
  background-color: #1d7dd7;
}
.song-wrapper-selected * {
  color: var(--clr-white) !important;
}
.song-wrapper-selected:hover {
  background: #1d7dd7;
}

.dark-background-2 {
  background: rgba(3, 3, 3, 0.01);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 50;
}

.dark-background-2 {
  animation: opacityAnimation 0.35s ease;
  z-index: 100;
}
@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.35;
  }
}

/*# sourceMappingURL=song-item.component.css.map */
