$--clr-grayish: #7b7b7b;
$--hover-bg-clr: rgba(138, 135, 135, 0.15);
$--select-bg-clr: hsl(139, 182, 113);
$--selected-bg-blue: rgb(29, 125, 215);
$--bg-glass: rgba(0, 0, 0, 0.85);
$--bg-mellow-black: rgb(40, 40, 40);
$--bg-option-hovered: rgba(255, 255, 255, 0.1);

.song-wrapper {
    width: 100%;
    height: 3rem;

    display: flex;
    align-items: center;

    position: relative;

    > .song-cover {
        width: 3rem;
        height: 3rem;

        overflow: hidden;

        > img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            user-select: none;
        }
    }

    > :is(.song-prop, .song-info) {
        display: flex;
        flex-direction: column;
        height: 80%;
        justify-content: space-evenly;
        align-items: space-evenly;
    }

    & > .more-options {
        height: 30%;
        width: 0.5rem;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;

        background: url(../../../../assets/images/more.svg) no-repeat;
        background-size: cover;
        background-position: center;
        display: none;

        align-items: center;
        justify-content: flex-start;
    }

    .more-options {
        & ~ .options {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 0.8rem 0;
            z-index: 110;
        }
    }

    > .options {
        position: absolute;
        top: 30%;
        left: 1.5rem;

        background: $--bg-mellow-black;
        display: none;
        z-index: 400;

        padding: 0.8rem 0;
        gap: 0.2rem;
        width: 16.25rem;

        .button-wrapper {
            width: 100%;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            button {
                color: var(--clr-white);
                width: 100%;
                text-align: right;
                height: 100%;
            }
            img {
                height: 50%;
                width: auto;
                padding: 0 0.5rem;
            }

            &:hover {
                background: $--bg-option-hovered;
            }

            &:nth-of-type(1) {
                img {
                    margin-bottom: 0.5rem;
                }
            }
            &:nth-of-type(2) {
                img {
                    margin-top: 0.15rem;
                }
            }
        }

        // & > p {
        //     border-bottom: 1px solid $--selected-bg-blue;
        //     padding: 0.5rem;
        //     font-size: 0.8rem;
        // }

        // > ul {
        //     list-style: none;
        //     padding: 1rem;
        //     display: flex;
        //     flex-direction: column;
        //     gap: 1rem;
        //     width: 100%;

        //     > li {
        //         width: 100%;
        //         font-size: 0.8rem;
        //         cursor: pointer;

        //         &:hover {
        //             background: darken($--bg-mellow-black, 1);
        //         }
        //     }
        // }

        // &:hover {
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: flex-start;
        // }
    }

    > .song-info {
        margin-right: 0.5rem;

        > p:first-child {
            font-size: 0.85rem;
        }

        > p:last-child {
            color: $--clr-grayish;
            font-size: 0.75rem;
        }

        > .author-name-selected {
            color: var(--clr-white) !important;
        }
    }

    > .song-prop {
        margin-right: auto;
        margin-left: 1.5rem;
        align-items: center;

        > img {
            width: 15px;
        }
    }

    &:hover {
        background: $--hover-bg-clr;
        .more-options {
            display: block;
        }
    }
}

> .is-playing * {
    color: $--selected-bg-blue !important;
}

> .song-wrapper-selected {
    background-color: $--selected-bg-blue;
    * {
        color: var(--clr-white) !important;
    }

    &:hover {
        background: $--selected-bg-blue;
    }
}

p {
    color: var(--clr-white);
    user-select: none;
}

.transparent-window {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 100;
}

.display-block {
    display: block !important;
}

// .song-wrapper {
//     background: red !important;
//     display: flex;
//     flex-direction: column;
//     height: auto;

//     > .song-cover {
//         width: 98%;
//         height: auto;
//         overflow: unset;

//         > img {
//             object-fit: contain;
//         }
//     }

//     > .song-info {
//         justify-content: flex-start;
//         width: 98%;
//     }

//     > .song-prop {
//         margin-left: 0.5rem;
//     }

//     > .more-options {
//         height: 5%;
//         bottom: 10%;
//         top: unset;
//     }

//     > .options {
//         bottom: 13%;
//         top: unset;
//     }
// }

// .grid-view {
//     background: blue;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//     grid-column-gap: 1rem;
//     grid-row-gap: 1rem;

//     > div:nth-of-type(1) {
//         grid-column: 1/-1;
//         grid-row: 1 /1;

//         align-self: baseline;
//         background: blue;
//     }
//     //TODO
//     .song-wrapper {
//         background: red !important;
//         display: flex;
//         flex-direction: column;
//         height: auto;

//         > .song-cover {
//             width: 98%;
//             height: auto;
//             overflow: unset;

//             > img {
//                 object-fit: contain;
//             }
//         }

//         > .song-info {
//             justify-content: flex-start;
//             width: 98%;
//         }

//         > .song-prop {
//             margin-left: 0.5rem;
//         }

//         > .more-options {
//             height: 5%;
//             bottom: 10%;
//             top: unset;
//         }

//         > .options {
//             bottom: 13%;
//             top: unset;
//         }
//     }
// }

.song-wrapper-grid {
    display: flex;
    flex-direction: column;
    height: auto;

    .song-cover {
        width: 98%;
        height: auto;
        overflow: unset;
        align-self: center;
        display: flex;

        > img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            margin-top: 2px;
        }
    }

    > .song-info {
        justify-content: flex-start;
        width: 98%;
    }

    .song-prop {
        margin-left: 0.5rem;

        img {
            width: 15px;
        }
    }

    .more-options {
        height: 5%;
        bottom: 10%;
        top: unset;
    }

    .options {
        bottom: 13%;
        top: unset;
    }
}

.song-wrapper-selected {
    background-color: $--selected-bg-blue;
    * {
        color: var(--clr-white) !important;
    }

    &:hover {
        background: $--selected-bg-blue;
    }
}
