$--clr-grayish: #7b7b7b;
$--hover-bg-clr: rgba(138, 135, 135, 0.15);
$--select-bg-clr: hsl(139, 182, 113);
$--selected-bg-blue: rgb(29, 125, 215);
$--bg-glass: rgba(0, 0, 0, 0.85);
$--bg-mellow-black: rgb(40, 40, 40);

:root {
  --animation-width: 0px;
  --placeholder-rotation: 150deg;
}

main {
  width: 100%;
  height: 100%;
  overflow: auto;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;

  > .section-1 {
    display: flex;
    flex: 1;

    transition: transform 1s ease;

    > .side-menu {
      width: 275px;
      height: 90vh;
      background: #00000066;
      padding-top: 4rem;
      position: fixed;

      display: flex;
      flex-direction: column;
      align-items: center;

      transition: transform 0.1s linear;
      transform-origin: right;
      transform: translateX(0);

      > * {
        width: 85%;
        height: 3rem;
      }

      > .search {
        background: rgb(27, 26, 26);

        height: 2.5rem;
        margin-bottom: 0.5rem;

        border-radius: 999rem;

        flex-direction: row-reverse;
        padding-left: 0.5rem;

        display: flex;
        align-items: center;

        > .search__icon {
          width: 40px;
          height: 50%;
          background: url(../../../assets/images/search.svg) no-repeat;
          background-position: center;
          background-size: contain;

          transform: rotate(90deg);
        }

        > input {
          flex: 1;
          height: 100%;
          padding-right: 0.5rem;
          background: transparent;

          color: whitesmoke;
        }
      }

      .btn-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        border-right: 5px solid transparent;
        cursor: pointer;

        > img {
          width: 40px;
          height: 60%;
          padding: 0 0.5rem;
        }

        > button {
          height: 100%;
          cursor: pointer;
          background: none;
          text-align: right;
          color: var(--clr-white);

          width: 100%;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.486);
        }
      }

      .playlist-container {
        display: flex;
        justify-self: flex-start;
        align-self: baseline;
        width: 100%;
        // margin-right: 5px;

        & > .btn-wrapper {
          margin-right: 0;
        }

        &:hover {
          // background: red !important;
          .delete-btn {
            display: block !important;
          }
        }
      }

      .add-btn,
      .delete-btn {
        height: 3rem;
        width: 3rem;
        &:hover {
          background: rgba(255, 255, 255, 0.486);
        }

        & > img {
          width: 50%;
          height: 100%;
        }
      }

      .delete-btn {
        display: none;
        > img {
          width: 40%;
        }
        &:hover {
          display: block;
        }
      }

      > .menu-selected {
        border-right: 5px solid $--selected-bg-blue;
      }

      .profile-wrapper {
        display: flex;
        width: 100%;
        height: 3rem;
        flex-direction: row-reverse;
        cursor: pointer;
        font-size: 0.8rem;

        margin-top: auto;
        padding: 0 0.5rem;

        > p {
          flex: 1;
          user-select: none;
          color: var(--clr-white);
          text-align: left;
        }

        > button {
          width: 3rem;

          display: flex;
          align-items: center;

          > img {
            width: 40px;
            height: 60%;
          }
        }
      }
    }

    > .song-list {
      width: 100%;
      height: 90vh;
      overflow-y: scroll;
      padding: 5rem 3rem;

      transition: width 0.1s linear;

      margin-right: auto;

      position: relative;

      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      > div:nth-of-type(1) {
        display: flex;
        align-items: center;

        > h2 {
          font-size: 1.5rem;
          color: white;
          line-height: 2;
        }

        > .song-list-view-wrapper {
          margin-right: auto;
          display: flex;
          flex-direction: row-reverse;
          gap: 0.5rem;
          margin-left: 0.5rem;

          > label {
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
              width: 17px;
              height: 17px;
              cursor: pointer;
            }
          }

          > input[type="radio"] {
            display: none;

            + label > img {
              filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg)
                brightness(0%) contrast(0%);
            }

            &:checked + label > img {
              filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg)
                brightness(86%) contrast(97%);
            }
          }

          > label:nth-of-type(1) > img {
            transform: rotate(180deg);
          }
        }
      }

      p {
        color: var(--clr-white);
        user-select: none;
      }

      > .song-wrapper {
        width: 100%;
        height: 3rem;

        display: flex;
        align-items: center;

        position: relative;

        > .song-cover {
          width: 3rem;
          height: 3rem;
          // background: black;

          overflow: hidden;

          > img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            user-select: none;
          }
        }

        > :is(.song-prop, .song-info) {
          display: flex;
          flex-direction: column;
          height: 80%;
          justify-content: space-evenly;
          align-items: space-evenly;
        }

        & > .more-options {
          height: 35%;
          width: 0.5rem;

          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0.5rem;

          background: url(../../../assets/images/more.svg) no-repeat;
          background-size: cover;
          background-position: center;
          display: none;

          align-items: center;
          justify-content: flex-start;
        }

        .more-options:hover {
          & ~ .options {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
        }

        > .options {
          position: absolute;
          top: 30%;
          left: 1rem;
          width: 10rem;
          // padding: 2rem;
          background: $--bg-mellow-black;
          border-radius: 10px;
          display: none;
          z-index: 400;

          & > p {
            border-bottom: 1px solid $--selected-bg-blue;
            padding: 0.5rem;
            font-size: 0.8rem;
          }

          > ul {
            list-style: none;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;

            > li {
              width: 100%;
              font-size: 0.8rem;
              cursor: pointer;

              &:hover {
                background: darken($--bg-mellow-black, 1);
              }
            }
          }

          &:hover {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
          }
        }

        > .song-info {
          margin-right: 0.5rem;

          > p:first-child {
            font-size: 0.8rem;
          }

          > p:last-child {
            color: $--clr-grayish;
            font-size: 0.7rem;
          }

          > .author-name-selected {
            color: var(--clr-white) !important;
          }
        }

        > .song-prop {
          margin-right: auto;
          margin-left: 1.5rem;
          align-items: flex-end;

          > img {
            width: 15px;
          }
        }

        &:hover {
          background: $--hover-bg-clr;
          .more-options {
            display: block;
          }
        }
      }

      > .is-playing * {
        color: $--selected-bg-blue !important;
      }

      > .song-wrapper-selected {
        background-color: $--selected-bg-blue;
        * {
          color: var(--clr-white) !important;
        }

        &:hover {
          background: $--selected-bg-blue;
        }
      }

      > .placeholders-wrapper {
        position: absolute;
        top: calc(5rem + 3rem + 0.25rem);
        left: 3rem;
        width: calc(100% - 6rem);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.25rem;

        * {
          background: linear-gradient(
            var(--placeholder-rotation),
            $--bg-mellow-black,
            $--selected-bg-blue
          );
        }

        > .place-holders {
          width: 100%;
          height: 3rem;
          background: transparent !important;

          display: flex;

          .img-placeholder {
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
          }

          .right-info-placeholder {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.2rem;
            background: none;
            margin-right: 0.3rem;

            > div {
              border-radius: 999rem;
              height: 35%;
            }

            .title-placeholder {
              width: 60px;
            }

            .artist-placeholder {
              width: 100px;
            }
          }

          .left-info-placeholder {
            width: 3rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: 0.2rem;
            margin-left: 0.5rem;
            background: none;

            > div {
              height: 35%;
              border-radius: 999rem;
            }

            > .duration-placeholder {
              width: 3rem;
            }

            > .like-btn-placeholder {
              width: 2rem;
            }
          }
        }
      }
      .playlist-wrapper {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;

        > * {
          width: 98%;
        }

        > .playlist-options {
          > img {
            width: 2rem;
          }
        }

        > .playlist-cover {
          width: 98%;
          height: auto;
          overflow: unset;
          align-self: center;

          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }

        > .playlist-info {
          > p {
            font-size: 0.8rem;
          }
        }

        > .playlist-options {
          display: flex;
          justify-content: flex-end;
        }

        &:hover {
          background: $--hover-bg-clr;
        }
      }
    }

    .list-compact-view {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      > div:nth-of-type(1) {
        grid-column: 1/-1;
        grid-row: 1 /1;

        align-self: baseline;
      }
    }

    .grid-view {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      > div:nth-of-type(1) {
        grid-column: 1/-1;
        grid-row: 1 /1;

        align-self: baseline;
      }

      > .song-wrapper {
        display: flex;
        flex-direction: column;
        height: auto;

        > .song-cover {
          width: 98%;
          height: auto;
          overflow: unset;

          > img {
            object-fit: contain;
          }
        }

        > .song-info {
          justify-content: flex-start;
          width: 98%;
        }

        > .song-prop {
          margin-left: 0.5rem;
        }

        > .more-options {
          height: 5%;
          bottom: 10%;
          top: unset;
        }

        > .options {
          bottom: 13%;
          top: unset;
        }
      }
    }
  }

  > .music-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    user-select: none;

    border-top: 2px solid #1d7dd77d;

    display: flex;
    align-items: center;

    > div {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    > .info-wrapper {
      position: absolute;
      right: 0rem;
      display: flex;
      gap: 0.7rem;

      user-select: none;

      padding-left: 2rem;

      &:hover {
        // background: darken($--bg-glass, 0);
        background: rgba(0, 0, 0, 0.2);
      }

      > img {
        height: calc(100% - 2px);
      }

      > div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        > p {
          color: var(--clr-white);
        }

        > p:first-child {
          font-size: 1rem;
        }

        > p:last-child {
          font-size: 0.7rem;
        }
      }
    }

    > .controls-wrapper {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      > div:nth-of-type(1) {
        display: flex;
        justify-content: center;
        align-items: center;

        > button {
          display: flex;
          justify-content: center;
          align-items: center;

          margin: 0 0.4rem;

          > img {
            width: 65%;
            height: 65%;
          }
        }

        > .size-1 {
          width: 25px;
          height: 25px;
        }

        > .size-2 {
          width: 30px;
          height: 30px;
        }
      }

      > .music-bar-wrapper {
        width: 45%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.5rem;

        > p {
          color: var(--clr-white);
        }

        > input[type="range"] {
          flex: 1;
          height: 4px;
          border-radius: 999rem;
          direction: ltr;
        }
      }
    }

    > .volume-wrapper {
      position: absolute;
      left: 1rem;

      display: flex;
      flex-direction: row-reverse;
      gap: 0.5rem;

      > p {
        color: var(--clr-white);
        width: 3ch;
        text-align: left;
      }

      > button:nth-of-type(1) {
        width: 20px;
        height: 20px;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      > input[type="range"] {
        width: 100px;
        height: 4px;
        border-radius: 0;
        direction: ltr;
      }

      > button:nth-of-type(2) {
        width: 25px;
        height: 25px;
        margin-left: 2rem;

        > img {
          width: 100%;
          height: 100%;
        }
      }

      .lyric-btn-active {
        filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg)
          brightness(86%) contrast(97%);
      }
    }
  }

  .lyric-wrapper {
    width: 100%;
    height: 90vh;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: -100%;
    transition: transform 1s ease;
    padding: 5rem 3rem;

    > button:nth-of-type(1) {
      position: fixed;
      top: 2vh;
      left: 0;
      background: #1d7dd7;
      z-index: 120;
      border-radius: 0 200px 200px 0;
      transition: transform 1s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 1.25rem;

      > img {
        width: 15px;
        height: 15px;
      }
    }

    display: flex;

    > .lyrics-music-cover {
      width: 350px;
      height: 100%;
      position: fixed;

      display: flex;
      flex-direction: column;
      align-items: center;

      > img {
        width: 80%;
        height: auto;
        background: rgba(0, 0, 0, 0.4);
      }

      > .music-info {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0.5rem;

        font-size: 1rem;
        color: rgba(255, 255, 255, 0.678);
      }
    }
    > .lyrics-text {
      flex: 1;
      // background: steelblue;
      margin-right: 350px;
      font-size: 1rem;
      max-width: 100ch;
      line-height: 2;
      color: rgba(255, 255, 255, 0.678);

      > .lyric-text {
        padding-bottom: 5rem;
      }
    }
  }

  .mobile-navigation {
    display: none;
    width: 100%;
    height: #{"max(12vh, 102px)"};
    background: $--bg-mellow-black;

    position: fixed;
    bottom: 0;
    left: 0;

    > .music-contolers {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      border-bottom: 2px solid #1d7dd77d;

      > button {
        width: 25px;

        > img {
          width: 100%;
          height: 100%;

          &:active {
            filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg)
              brightness(86%) contrast(97%);
          }
        }
      }

      > .lyric-btn-active {
        filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg)
          brightness(86%) contrast(97%);
      }

      > .mobile-info {
        color: var(--clr-white);
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        // gap: 2rem;

        overflow: hidden;
        -webkit-mask: linear-gradient(
          to right,
          transparent 0%,
          rgb(0, 0, 0) 10px,
          rgb(0, 0, 0) calc(100% - 10px),
          transparent 100%
        );

        > p {
          font-size: 0.7rem;
          white-space: nowrap;
          gap: 3rem;

          display: flex;
          align-items: center;

          user-select: none;
          span {
            font-size: 0.9rem;
          }

          > span:nth-of-type(2) {
            font-size: 2rem;
          }
        }
      }

      > .mobile-info-animation {
        > * {
          animation: textAnimation 4s linear infinite 2s forwards;
          animation-direction: alternate;

          @keyframes textAnimation {
            0% {
              transform: translateX(-10%);
            }

            100% {
              transform: translateX(calc(var(--animation-width) + 10%));
            }
          }
        }
      }
    }

    > .tab-navigation {
      height: 7vh;
      background: $--bg-mellow-black;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      > button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.7rem;

        position: relative;

        > img {
          width: 25px;
          height: 100%;
        }

        > p {
          color: var(--clr-white);
          font-size: 0.8rem;
        }

        &:focus::after {
          width: 100%;
        }
        &:focus {
          background: $--selected-bg-blue;
          color: $--selected-bg-blue;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background: $--selected-bg-blue;
          height: 5px;
        }
      }
    }
  }
}

.dark-glass,
.dark-background-2,
.dark-glass3,
.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.dark-background-2 {
  animation: opacityAnimation 0.35s ease;
  z-index: 100;
  @keyframes opacityAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.dark-glass,
.dark-background-2 {
  background: $--bg-glass;
}

.dark-glass3 {
  background: linear-gradient(to bottom, $--bg-mellow-black, black);
  z-index: 1999;
}

.bg-cover {
  transition: background 1s ease;

  background: url(../../../assets/images/default-song-cover.svg) center
    no-repeat;
  background-size: cover;
}

.active-btn {
  filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg)
   brightness(86%) contrast(97%) !important;
}

.ctl-btn {
  position: relative;

  > img:hover {
    filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg)
      brightness(86%) contrast(97%);
  }

 
  &:hover::after {
    transition: opacity 0.2s ease;
    transition-delay: 0.5s;
    opacity: 1;
  }

  &::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    right: 0;
    background: $--selected-bg-blue;
    opacity: 0;
    transform: translate(50%, -120%);
    color: var(--clr-white);
    font-size: 0.7rem;
    width: max-content;
    padding: 0.3rem;
  }
}

.side-menu-closed {
  transform: translateX(100%) !important;
}

.side-menu-opener-closer {
  position: absolute;
  top: 2vh;
  right: 0;
  padding: 0.5rem 1rem;
  background: $--selected-bg-blue;
  z-index: 120;
  border-radius: 200px 0 0 200px;
  cursor: pointer;

  transition: transform 1s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  > button {
    width: 15px;
    height: 15px;

    > img {
      width: 100%;
      height: 100%;
      user-select: none;
    }
  }
}

.add-playlist-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 29.375rem;
  height: 32.125rem;
  background: $--bg-mellow-black;
  z-index: 999;
  padding: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  > div {
    width: 11rem;
    height: 11rem;
    background: $--selected-bg-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 50%;
      height: auto;
    }
  }

  > input {
    height: 3rem;
    width: 80%;
    padding-right: 1rem;
  }

  & > button {
    color: var(--clr-white);
    font-size: 1rem;
    // padding: 1rem 3rem;
    width: 12rem;
    height: 4rem;
  }

  > button:nth-of-type(1) {
    background: $--selected-bg-blue;

    &:hover {
      background: darken($--selected-bg-blue, 10);
    }

    &:active {
      background: darken($--selected-bg-blue, 20);
    }
  }

  > button:nth-of-type(2) {
    &:hover {
      background: darken($--bg-mellow-black, 3);
    }

    &:active {
      background: darken($--bg-mellow-black, 6);
    }
  }
}

.song-wrapper-selected {
  background-color: $--selected-bg-blue;
  * {
    color: var(--clr-white) !important;
  }

  &:hover {
    background: $--selected-bg-blue !important;
  }
}

.side-menu-opended {
  width: calc(100% - 275px) !important;
}

.section-close,
.lyrics-wrapper-open {
  transform: translateX(100%);
}

.side-menu-opener-closed {
  transform: translateX(100%);
}

.display-none {
  display: none !important;
}

@media only screen and (max-width: 750px) {
  main {
    > .music-controls {
      display: none;
    }

    > .section-1 {
      > .side-menu {
        display: none;
      }

      > .song-list {
        width: 100% !important;
        height: calc(100vh - #{"max(12vh, 102px)"});
        padding-bottom: 0;
        padding: 5rem 1.5rem;
        gap: 0.5rem;

        > div:nth-of-type(1) {
          > div {
            > label:nth-of-type(2) {
              display: none;
            }
          }
        }
      }

      > .grid-view {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      }
    }

    .mobile-navigation {
      display: flex;
      flex-direction: column;
    }

    > .lyric-wrapper {
      height: calc(100vh - #{"max(12vh, 102px)"});
      > .lyrics-music-cover {
        display: none;
      }

      > .lyrics-text {
        margin-right: unset;
      }
    }
  }

  .side-menu-opener-closer {
    display: none;
  }
}

.option-list {
  color: whitesmoke;
}

.remove-options {
  display: flex;
  flex-direction: row-reverse !important;
  gap: 0.5rem !important;
  width: unset !important;
  padding: 1rem !important;

  > button {
    color: var(--clr-white);
  }

  > img {
    width: 1rem;
  }
}

.mobile-song-preview {
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 2000;

  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: space-evenly;
  padding: 3.5rem 0 3.5rem 0;

  > input {
    width: 80%;
  }

  .mobile-song-preview-return {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 2rem;
    background: $--selected-bg-blue;
    border-radius: 0 999rem 999rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    > img {
      width: 25%;
      height: 100%;
    }
  }

  .music-bar-wrapper {
    direction: ltr;
    color: white;

    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
    > input {
      width: 60%;
    }
  }

  .mobile-preview-controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    > button {
      width: 2rem;
      height: 2rem;
    }
  }

  .mobile-preview-song-cover {
    width: 70%;
    height: auto;
  }

  .mobile-info {
    color: var(--clr-white);
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 2rem;

    overflow: hidden;
    -webkit-mask: linear-gradient(
      to right,
      transparent 0%,
      rgb(0, 0, 0) 10px,
      rgb(0, 0, 0) calc(100% - 10px),
      transparent 100%
    );

    > p {
      font-size: 0.7rem;
      white-space: nowrap;

      display: flex;
      align-items: center;

      user-select: none;
      span {
        font-size: 1.5rem;
      }

      > span:nth-of-type(2) {
        font-size: 2rem;
      }
    }
  }

  > .mobile-info-animation {
    > * {
      animation: textAnimation 4s linear infinite 2s forwards;
      animation-direction: alternate;

      @keyframes textAnimation {
        0% {
          transform: translateX(-10%);
        }

        100% {
          transform: translateX(calc(var(--animation-width) + 10%));
        }
      }
    }
  }

  .mobile-preview-like,
  .mobile-preview-add-playlist {
    position: absolute;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
  }

  .mobile-preview-like {
    left: 1rem;
  }

  .mobile-preview-add-playlist {
    right: 1rem;
  }
}

.alert {
  background: #5c1111;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  z-index: 100;
  direction: ltr;
  bottom: 12vh;
  border-radius: 4px;
  border-left: 8px solid #ff0000;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.success {
  border-left: 8px solid #00a800 !important;
  background: #006400;


}
.alert.success .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #006400;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.alert.success .close-btn:hover {
  background: #00a800;
}

.alert .msg {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 1px 1px 0px #353535;
}
.alert .close-btn {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  background: #5c1111;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.alert .close-btn:hover {
  background: #ff0000;
}
.alert .close-btn img {
  margin-top: 0.6rem;
  width: 24px;
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}
.alert.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.alert.hide {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}