
.alert {
  background: #5c1111;
  padding: 20px 40px;
  min-width: 420px;
  position: absolute;
  z-index: 1000;
  direction: ltr;
  bottom: 12vh;
  border-radius: 4px;
  border-left: 8px solid #ff0000;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}
.alert.success {
  border-left: 8px solid #00a800 !important;
  background: #006400;
}
.alert.success .close-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #006400;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.alert.success .close-btn:hover {
  background: #00a800;
}

.alert .msg {
  font-size: 18px;
  color: #ffffff;
  text-shadow: 1px 1px 0px #353535;
}
.alert .close-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #5c1111;
  padding: 1rem 1.5rem;
  cursor: pointer;
}
.alert .close-btn:hover {
  background: #ff0000;
}
.alert .close-btn img {
  margin-top: 0.6rem;
  width: 24px;
  transform: rotate(45deg);
}

.alert.showAlert {
  opacity: 1;
  pointer-events: auto;
}
.alert.show {
  animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
  0% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}
.alert.hide {
  animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(100%);
  }
}
