<div class="side-menu" [ngClass]="!isOpen ? '' : 'side-menu-closed'">
    <app-search></app-search>
    <!-- //TODO -->
    <!-- <div class="search">
        <input type="search" placeholder="جست و جو..." class="search-box" />
        <div class="search__icon"></div>
    </div> -->

    <div class="menu-items-wrapper">
        <app-menu-item *ngFor="let playlistItem of playlists" [playlistItem]="playlistItem"></app-menu-item>
    </div>

    <div class="profile-wrapper btn-wrapper">
        <p id="user-email">USERNAME</p>
        <button>
            <img src="../../../assets/images/logout.svg" alt="" />
        </button>
    </div>

    <!-- <div class="btn-wrapper menu-selected">
        <img src="../../../assets/images/playlist.svg" alt="" />
        <button>همه آهنگ ها</button>
    </div>

    <div class="btn-wrapper">
        <img src="../../../assets/images/favourite.svg" alt="" />
        <button>مورد علاقه</button>
    </div> -->

    <!-- <div class="playlist-container defualt-menu">
        <div class="btn-wrapper defualt-menu">
            <img src="../../../assets/images/playlist-add.svg" alt="" />
            <button>پلی لیست ها</button>
        </div>
        <button class="add-btn">
            <img src="../../../assets/images/add.svg" alt="add svg" />
        </button>
    </div>

    <div class="profile-wrapper btn-wrapper">
        <p id="user-email"></p>
        <button>
            <img src="../../../assets/images/logout.svg" alt="" />
        </button>
    </div> -->
</div>
