<audio #audio (error)="onAudioError()"></audio>
<div class="info-wrapper">
    <img
         [src]="playingSong.cover"
         alt="music-cover" id="music-cover" />
    <div>
        <p id="music-title">{{playingSong.name}}</p>
        <p id="music-artist">{{playingSong.artist}}</p>
    </div>
</div>

<div class="controls-wrapper">
    <div>
        <button class="size-1 ctl-btn shuffle-btn" data-tooltip="در هم ریختن">
            <img src="../../../assets/images/controls/shuffle.svg" alt="shuffle button" />
        </button>

        <button class="size-1 ctl-btn next-btn" data-tooltip="بعدی">
            <img src="../../../assets/images/controls/next.svg" alt="next music button" />
        </button>

        <button class="size-2 ctl-btn play-music-btn" data-tooltip="پخش">
            <img src="../../../assets/images/controls/play-button.svg" alt="play puase button" />
        </button>

        <button class="size-1 ctl-btn previous-btn" data-tooltip="قبلی">
            <img src="../../../assets/images/controls/back.svg" alt="previous music button" />
        </button>

        <button class="size-1 ctl-btn repeat-btn" data-tooltip=" تکرار">
            <img src="../../../assets/images/controls/repeat.svg" alt="repeat mode button" />
        </button>
    </div>
    <div class="music-bar-wrapper">
        <p class="current-time"></p>
        <input
            type="range"
            class="seek-slider"
            max="100"
            value="0"
            onchange="updateMusicBarValue(this.value);"
            step="1"
            oninput="updateMusicBarValue(this.value)"
        />
        <p class="end-time"></p>
    </div>
</div>

<div class="volume-wrapper">
    <button id="volume-btn" class="ctl-btn" data-tooltip="صدا">
        <img src="../../../assets/images/controls/volume.svg" alt="volume button" />
    </button>
    <input
        type="range"
        id="volume-slider"
        max="100"
        value="50"
        onchange="updateVolumeValue(this.value); "
        step="1"
        oninput="updateVolumeValue(this.value)"
    />
    <p id="volume-text">0</p>
    <button class="ctl-btn" id="lyrics-btn" data-tooltip="متن آهنگ">
        <img src="../../../assets/images/controls/lyric.svg" alt="lyrics button" />
    </button>
</div>
