main {
  width: 100%;
  height: 100%;
  padding: 0 5vw;
  background: linear-gradient(-45deg, #e35a01 0 7.5%, #4c7c71 7.5% 15%, #2e4769 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bg-in-bt-rgh 1.5s ease;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
@keyframes bg-in-bt-rgh {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
main > .form-wrapper {
  width: 450px;
  height: 70%;
  box-shadow: inset 0 0 0.3em white, 0 0 0.3em white;
  transition: transform 1s ease;
}
main > .form-wrapper > form {
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}
main > .form-wrapper > form > .input-wrapper {
  display: flex;
  flex-direction: row-reverse;
  box-shadow: inset 0 0 0.3em white, 0 0 0.3em white;
  padding: 0 1.5em;
  width: 85%;
  height: 3rem;
  align-items: center;
  position: relative;
}
main > .form-wrapper > form > .input-wrapper > img {
  width: 20px;
  height: 20px;
}
main > .form-wrapper > form > .input-wrapper > input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  padding-right: 1em;
  position: relative;
}
main > .form-wrapper > form > .input-wrapper > input:focus,
main > .form-wrapper > form > .input-wrapper > input :valid {
  top: 0;
}
main > .form-wrapper > form > .input-wrapper > input:focus ~ label,
main > .form-wrapper > form > .input-wrapper > input :valid ~ label {
  top: 0;
  right: 0;
  transform: translateY(-100%);
  transition: all 0.5s ease;
}
main > .form-wrapper > form > .input-wrapper > label {
  position: absolute;
  right: calc(20px + 1.5rem);
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 1.15rem;
}
main > .form-wrapper > form > button {
  font-size: 1.2rem;
  padding: 0.5em 0em;
  width: 85%;
  margin-top: 3.5em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: transparent;
  box-shadow: inset 0 0 0.3em white, 0 0 0.3em 0.125em white;
  color: white;
}
main > .form-wrapper > form > button:hover {
  box-shadow: inset 0 0 0.65em white, 0 0 0.3em 0.125em white;
}
main > .form-wrapper > form > a {
  color: white;
  font-size: 1.1rem;
  width: 85%;
  margin-top: 2em;
}
main > .form-wrapper > .login-form > .input-wrapper:nth-of-type(2) {
  margin: 5em 0 3em 0;
}
main > .form-wrapper > .login-form > .input-wrapper:nth-of-type(2) > img:nth-of-type(2) {
  cursor: pointer;
}
main > .form-wrapper > .login-form > div:nth-of-type(3) {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  width: 85%;
}
main > .form-wrapper > .login-form > div:nth-of-type(3) .input-checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
main > .form-wrapper > .login-form > div:nth-of-type(3) .input-checkbox > label {
  padding-right: 0.8em;
  color: white;
  font-size: 0.9rem;
}
main > .form-wrapper > .login-form > div:nth-of-type(3) .forgot-pass {
  margin-right: auto;
}
main > .form-wrapper > .login-form > div:nth-of-type(3) .forgot-pass > a {
  color: white;
  font-size: 1rem;
}
main > .form-wrapper > .signup-form > div:nth-of-type(2) {
  margin: 5em 0;
}

.display-none {
  display: none !important;
}

.signup-form-wrapper {
  transform: translateX(calc(90vw - 100%));
}

.bg-animation-1 {
  background: linear-gradient(-45deg, #e35a01 0 7.5%, #4c7c71 7.5% 15%, #2e4769 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bg-in-bt-rgh 1.5s ease;
  animation-fill-mode: forwards;
}
@keyframes bg-in-bt-rgh {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

.bg-animation-2 {
  animation: body-bg-bt-rgh-out 1s ease;
  animation-fill-mode: forwards;
}
@keyframes body-bg-bt-rgh-out {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

.bg-animation-3 {
  background: linear-gradient(135deg, #e35a01 0 7.5%, #4c7c71 7.5% 15%, #2e4769 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bg-in-tp-lft 1.5s ease;
  animation-fill-mode: forwards;
}
@keyframes bg-in-tp-lft {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

.bg-animation-4 {
  background: linear-gradient(135deg, #e35a01 0 7.5%, #4c7c71 7.5% 15%, #2e4769 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bg-out-tp-left 1s ease;
  animation-fill-mode: forwards;
}
@keyframes bg-out-tp-left {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

/*# sourceMappingURL=style.css.map */
