<div class="place-holders" *ngFor="let dummy of ' '.repeat(placeholdersCount).split('')">
    <div class="img-placeholder"></div>
    <div class="right-info-placeholder">
        <!-- <div class="title-placeholder" [ngStyle]="width: ${Math.random() * 17 + 3}rem"></div> -->
        <div class="title-placeholder" [ngStyle]="{width: 'Math.random() * 17 + 3rem'}"></div>
        <div class="artist-placeholder" [ngStyle]="{width: 'Math.random() * 17 + 3rem'}"></div>
    </div>
    <div class="left-info-placeholder">
        <div class="duration-placeholder"></div>
        <div class="like-btn-placeholder"></div>
    </div>
</div>
