<div class="song-list-view-wrapper">
    <input type="radio" name="song-list-view" id="list-view" checked class="radio-btn" />
    <label for="list-view" class="list-view-label">
        <img src="../../../assets/images/controls/list.svg" alt="list view button" />
    </label>

    <input type="radio" name="song-list-view" id="list-compact-view" class="radio-btn" />
    <label for="list-compact-view" class="list-compact-view-label">
        <img src="../../../assets/images/controls/list-compact.svg" alt="list compact view button" />
    </label>

    <input type="radio" name="song-list-view" id="grid-view" class="radio-btn" />
    <label for="grid-view" class="grid-view-label">
        <img src="../../../assets/images/controls/list-grid.svg" alt="grid view button" />
    </label>
</div>
