<div
    class="song-wrapper"
    [ngClass]="{
        'song-wrapper-grid': layout === 'grid-view',
        'song-wrapper-selected': song.isSelected,
        'is-playing': isPlaying
    }"
    (click)="onSingleClick()"
    (dblclick)="onDoubleClick()"
>
    <div class="song-cover">
        <img class="song-cover-img" loading="lazy" [src]="song.cover" alt="" />
        <img
            class="song-cover-play"
            [src]="
                isPlaying
                    ? '../../../../assets/images/controls/pause.svg'
                    : '../../../../assets/images/controls/play-button.svg'
            "
            alt=""
            (click)="onPlaySong()"
        />
    </div>
    <div class="song-info">
        <p id="song-name">{{ song.name }}</p>
        <p id="artist-name">{{ song.artist }}</p>
    </div>
    <div class="song-prop">
        <p id="duration">{{ song.duration | hmsTime }}</p>
        <img
            class="fav-icon"
            appLikeHover
            (click)="onFavoriteClick()"
            [src]="!song.isFavourite ? '../../../../assets/images/like.svg' : '../../../../assets/images/liked.svg'"
            alt=""
        />
    </div>

    <button
        class="more-options"
        (click)="isMoreOptionsOpened = !isMoreOptionsOpened"
        [ngClass]="isMoreOptionsOpened ? 'display-block' : ''"
    >
      <img
        src= '../../../../../assets/images/more.svg'
        alt=""
      />
    </button>

    <div class="options" *ngIf="isMoreOptionsOpened">
        <div class="button-wrapper">
            <img src="../../../../../assets/images/download.svg" alt="" />
            <button>دانلود آهنگ</button>
        </div>
        <div class="button-wrapper">
            <img src="../../../../../assets/images/playlist-add.svg" alt="" />
            <button (click)="openNewPlaylistPanel()">افزودن به پلی‌لیست ها</button>
        </div>
        <div class="button-wrapper button-wrapper--delete" *ngIf="canDelete">
            <img src="../../../../../assets/images/trash.svg" alt="" />
            <button (click)="onDeletePlaylist()">حذف از پلی‌لیست</button>
        </div>
    </div>
</div>

<div class="transparent-window" *ngIf="isMoreOptionsOpened" (click)="isMoreOptionsOpened = !isMoreOptionsOpened"></div>
<div *ngIf="isAddToPlaylistPanelOpen" class="dark-background-2" (click)="toggleNewPlaylistPanel()"></div>

<app-add-to-playlist-panel
    [song]="song"
    [@inOutAnimation]
    (closeAddToNewPlaylistPanel)="toggleNewPlaylistPanel()"
    *ngIf="isAddToPlaylistPanelOpen"
></app-add-to-playlist-panel>
