$--clr-white: hsl(317, 100%, 100%);
$--box-shadow-width--music: 8px;
$--box-shadow-width--header: 4px;

p,
a,
h1 {
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em $--clr-white;
}

@mixin body-lg-bg {
  background: linear-gradient(-45deg, var(--lg-bg-1), var(--lg-bg-2), var(--lg-bg-3), var(--lg-bg-4));
  background-size: 400% 400%;
  animation: gradientBg 15s ease infinite;

  @keyframes gradientBg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include body-lg-bg();

  header {
    width: 80%;
    max-width: 1440px;
    height: 8vh;

    font-size: clamp(15px, 2.5vw, 18px);

    position: relative;

    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 1em;

    & :is(a, p) {
      color: $--clr-white;
      text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.2em var(--clr-black);
      user-select: none;
    }

    & > p {
      margin-left: auto;
      font-size: 1em;
    }

    & > ul {
      display: flex;
      text-decoration: none;

      li {
        margin-right: 2em;
        list-style: none;

        a {
          text-decoration: none;
          font-size: 1em;

          &:hover {
            color: darken($--clr-white, 10);
          }

          &:active {
            color: darken($--clr-white, 15);
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $--box-shadow-width--header;

      border-radius: 100px;
      box-shadow: inset 0 0 0.5em $--clr-white, 0 0 0.5em $--clr-white;
      z-index: -1;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   right: 0;
    //   width: 10%;
    //   height: 1px;
    //   box-shadow: inset 0 0 0.1em $--clr-white;

    //   animation: neon-light-filler 10s linear infinite;

    //   @keyframes neon-light-filler {
    //     from {
    //       right: 0;
    //     }

    //     to {
    //       right: 90%;
    //     }
    //   }
    // }
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    width: 80%;
    max-width: 1440px;
    flex: 1;

    & > section {
      flex: 1;
    }

    section:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 2rem;

      & > h1 {
        font-size: clamp(24px, 2.8vw, 42px);
      }

      & > p {
        font-size: clamp(18px, 2vw, 22px);
      }
    }

    section:nth-of-type(2) {
      display: flex;
      justify-content: center;

      & > div {
        border-radius: 100%;
        box-shadow: inset 0 0 6.5em $--clr-white, 0 0 0.5em $--clr-white;
        width: 35vw;
        height: 35vw;

        position: relative;

        & > div {
          width: 60%;
          height: 60%;
          border-radius: 100%;

          position: absolute;

          top: 50%;
          left: 50%;
          transform: translate(-60%, -50%);

          span {
            box-shadow: inset 0 0 0.4em $--clr-white, 0 0 0.4em $--clr-white;
            width: 100%;
            height: $--box-shadow-width--music;

            position: absolute;
            border-radius: 100px;
          }

          span:nth-of-type(1) {
            right: 0;
            top: 50%;
            transform: rotate(45deg) translateY(50%);
            transform-origin: right;
            width: 71%;
          }

          span:nth-of-type(2) {
            right: 0;
            top: 50%;
            transform: rotate(-45deg) translateY(-50%);
            transform-origin: right;
            width: 71%;
          }

          span:nth-of-type(3) {
            left: 49.5%;
            top: 0;
            transform: rotate(90deg);
            transform-origin: left;
          }
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      flex-direction: column-reverse;
      justify-content: flex-end;
      padding-top: 5rem;

      gap: 3rem;

      & > section {
        flex: none;
      }

      & > section:nth-of-type(2) {
        align-items: flex-end;
        & > div {
          width: 70vw;
          height: 70vw;
          max-width: 350px;
          max-height: 350px;
        }
      }

      & > section:nth-of-type(1) {
        align-items: center;

        & > * {
          text-align: center;
          max-width: 40ch;
        }
      }
    }
  }

  ::selection {
    background: var(--clr-blue);
  }
}
