:root {
  --animation-width: 0px;
  --placeholder-rotation: 150deg;
}

main {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > .section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

main > .section-1 > .side-menu {
  width: 275px;
  height: 90vh;
  background: #00000066;
  padding-top: 4rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

main > .section-1 > .side-menu > * {
  width: 85%;
  height: 3rem;
}

main > .section-1 > .side-menu > .search {
  background: #1b1a1a;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  border-radius: 999rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .section-1 > .side-menu > .search > .search__icon {
  width: 40px;
  height: 50%;
  background: url(../../assets/images/search.svg) no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main > .section-1 > .side-menu > .search > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding-right: 0.5rem;
  background: transparent;
  color: whitesmoke;
}

main > .section-1 > .side-menu .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-right: 5px solid transparent;
  cursor: pointer;
}

main > .section-1 > .side-menu .btn-wrapper > img {
  width: 40px;
  height: 60%;
  padding: 0 0.5rem;
}

main > .section-1 > .side-menu .btn-wrapper > button {
  height: 100%;
  cursor: pointer;
  background: none;
  text-align: right;
  color: var(--clr-white);
  width: 100%;
}

main > .section-1 > .side-menu .btn-wrapper:hover {
  background: rgba(255, 255, 255, 0.486);
}

main > .section-1 > .side-menu .playlist-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-start;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  width: 100%;
}

main > .section-1 > .side-menu .playlist-container > .btn-wrapper {
  margin-right: 0;
}

main > .section-1 > .side-menu .playlist-container:hover .delete-btn {
  display: block !important;
}

main > .section-1 > .side-menu .add-btn,
main > .section-1 > .side-menu .delete-btn {
  height: 3rem;
  width: 3rem;
}

main > .section-1 > .side-menu .add-btn:hover,
main > .section-1 > .side-menu .delete-btn:hover {
  background: rgba(255, 255, 255, 0.486);
}

main > .section-1 > .side-menu .add-btn > img,
main > .section-1 > .side-menu .delete-btn > img {
  width: 50%;
  height: 100%;
}

main > .section-1 > .side-menu .delete-btn {
  display: none;
}

main > .section-1 > .side-menu .delete-btn > img {
  width: 40%;
}

main > .section-1 > .side-menu .delete-btn:hover {
  display: block;
}

main > .section-1 > .side-menu > .menu-selected {
  border-right: 5px solid #1d7dd7;
}

main > .section-1 > .side-menu .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: auto;
  padding: 0 0.5rem;
}

main > .section-1 > .side-menu .profile-wrapper > p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--clr-white);
  text-align: left;
}

main > .section-1 > .side-menu .profile-wrapper > button {
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .section-1 > .side-menu .profile-wrapper > button > img {
  width: 40px;
  height: 60%;
}

main > .section-1 > .song-list {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  padding: 5rem 3rem;
  -webkit-transition: width 0.1s linear;
  transition: width 0.1s linear;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

main > .section-1 > .song-list > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .section-1 > .song-list > div:nth-of-type(1) > h2 {
  font-size: 1.5rem;
  color: white;
  line-height: 2;
}

main > .section-1 > .song-list > div:nth-of-type(1) > .song-list-view-wrapper {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

main > .section-1 > .song-list > div:nth-of-type(1) > .song-list-view-wrapper > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .section-1 > .song-list > div:nth-of-type(1) > .song-list-view-wrapper > label > img {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

main > .section-1 > .song-list > div:nth-of-type(1) > .song-list-view-wrapper > input[type="radio"] {
  display: none;
}

main > .section-1 > .song-list > div:nth-of-type(1) > .song-list-view-wrapper > input[type="radio"] + label > img {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
}

main > .section-1 > .song-list > div:nth-of-type(1) > .song-list-view-wrapper > input[type="radio"]:checked + label > img {
  -webkit-filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
          filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
}

main > .section-1 > .song-list > div:nth-of-type(1) > .song-list-view-wrapper > label:nth-of-type(1) > img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main > .section-1 > .song-list p {
  color: var(--clr-white);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main > .section-1 > .song-list > .song-wrapper {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main > .section-1 > .song-list > .song-wrapper > .song-cover {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

main > .section-1 > .song-list > .song-wrapper > .song-cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main > .section-1 > .song-list > .song-wrapper > :is(.song-prop, .song-info) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

main > .section-1 > .song-list > .song-wrapper > .more-options {
  height: 35%;
  width: 0.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.5rem;
  background: url(../../assets/images/more.svg) no-repeat;
  background-size: cover;
  background-position: center;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main > .section-1 > .song-list > .song-wrapper .more-options:hover ~ .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main > .section-1 > .song-list > .song-wrapper > .options {
  position: absolute;
  top: 30%;
  left: 1rem;
  width: 10rem;
  background: #282828;
  border-radius: 10px;
  display: none;
  z-index: 400;
}

main > .section-1 > .song-list > .song-wrapper > .options > p {
  border-bottom: 1px solid #1d7dd7;
  padding: 0.5rem;
  font-size: 0.8rem;
}

main > .section-1 > .song-list > .song-wrapper > .options > ul {
  list-style: none;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  width: 100%;
}

main > .section-1 > .song-list > .song-wrapper > .options > ul > li {
  width: 100%;
  font-size: 0.8rem;
  cursor: pointer;
}

main > .section-1 > .song-list > .song-wrapper > .options > ul > li:hover {
  background: #252525;
}

main > .section-1 > .song-list > .song-wrapper > .options:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main > .section-1 > .song-list > .song-wrapper > .song-info {
  margin-right: 0.5rem;
}

main > .section-1 > .song-list > .song-wrapper > .song-info > p:first-child {
  font-size: 0.8rem;
}

main > .section-1 > .song-list > .song-wrapper > .song-info > p:last-child {
  color: #7b7b7b;
  font-size: 0.7rem;
}

main > .section-1 > .song-list > .song-wrapper > .song-info > .author-name-selected {
  color: var(--clr-white) !important;
}

main > .section-1 > .song-list > .song-wrapper > .song-prop {
  margin-right: auto;
  margin-left: 1.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main > .section-1 > .song-list > .song-wrapper > .song-prop > img {
  width: 15px;
}

main > .section-1 > .song-list > .song-wrapper:hover {
  background: rgba(138, 135, 135, 0.15);
}

main > .section-1 > .song-list > .song-wrapper:hover .more-options {
  display: block;
}

main > .section-1 > .song-list > .is-playing * {
  color: #1d7dd7 !important;
}

main > .section-1 > .song-list > .song-wrapper-selected {
  background-color: #1d7dd7;
}

main > .section-1 > .song-list > .song-wrapper-selected * {
  color: var(--clr-white) !important;
}

main > .section-1 > .song-list > .song-wrapper-selected:hover {
  background: #1d7dd7;
}

main > .section-1 > .song-list > .placeholders-wrapper {
  position: absolute;
  top: calc(5rem + 3rem + 0.25rem);
  left: 3rem;
  width: calc(100% - 6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
}

main > .section-1 > .song-list > .placeholders-wrapper * {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--placeholder-rotation)), color-stop(#282828), to(#1d7dd7));
  background: linear-gradient(var(--placeholder-rotation), #282828, #1d7dd7);
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders {
  width: 100%;
  height: 3rem;
  background: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .img-placeholder {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .right-info-placeholder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.2rem;
  background: none;
  margin-right: 0.3rem;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .right-info-placeholder > div {
  border-radius: 999rem;
  height: 35%;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .right-info-placeholder .title-placeholder {
  width: 60px;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .right-info-placeholder .artist-placeholder {
  width: 100px;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .left-info-placeholder {
  width: 3rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.2rem;
  margin-left: 0.5rem;
  background: none;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .left-info-placeholder > div {
  height: 35%;
  border-radius: 999rem;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .left-info-placeholder > .duration-placeholder {
  width: 3rem;
}

main > .section-1 > .song-list > .placeholders-wrapper > .place-holders .left-info-placeholder > .like-btn-placeholder {
  width: 2rem;
}

main > .section-1 > .song-list .playlist-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .section-1 > .song-list .playlist-wrapper > * {
  width: 98%;
}

main > .section-1 > .song-list .playlist-wrapper > .playlist-options > img {
  width: 2rem;
}

main > .section-1 > .song-list .playlist-wrapper > .playlist-cover {
  width: 98%;
  height: auto;
  overflow: unset;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main > .section-1 > .song-list .playlist-wrapper > .playlist-cover img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

main > .section-1 > .song-list .playlist-wrapper > .playlist-info > p {
  font-size: 0.8rem;
}

main > .section-1 > .song-list .playlist-wrapper > .playlist-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main > .section-1 > .song-list .playlist-wrapper:hover {
  background: rgba(138, 135, 135, 0.15);
}

main > .section-1 .list-compact-view {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

main > .section-1 .list-compact-view > div:nth-of-type(1) {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1 /1;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

main > .section-1 .grid-view {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

main > .section-1 .grid-view > div:nth-of-type(1) {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1 /1;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

main > .section-1 .grid-view > .song-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

main > .section-1 .grid-view > .song-wrapper > .song-cover {
  width: 98%;
  height: auto;
  overflow: unset;
}

main > .section-1 .grid-view > .song-wrapper > .song-cover > img {
  -o-object-fit: contain;
     object-fit: contain;
}

main > .section-1 .grid-view > .song-wrapper > .song-info {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 98%;
}

main > .section-1 .grid-view > .song-wrapper > .song-prop {
  margin-left: 0.5rem;
}

main > .section-1 .grid-view > .song-wrapper > .more-options {
  height: 5%;
  bottom: 10%;
  top: unset;
}

main > .section-1 .grid-view > .song-wrapper > .options {
  bottom: 13%;
  top: unset;
}

main > .music-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-top: 2px solid #1d7dd77d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .music-controls > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .music-controls > .info-wrapper {
  position: absolute;
  right: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 2rem;
}

main > .music-controls > .info-wrapper:hover {
  background: rgba(0, 0, 0, 0.2);
}

main > .music-controls > .info-wrapper > img {
  height: calc(100% - 2px);
}

main > .music-controls > .info-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .music-controls > .info-wrapper > div > p {
  color: var(--clr-white);
}

main > .music-controls > .info-wrapper > div > p:first-child {
  font-size: 1rem;
}

main > .music-controls > .info-wrapper > div > p:last-child {
  font-size: 0.7rem;
}

main > .music-controls > .controls-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.4rem;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > button > img {
  width: 65%;
  height: 65%;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > .size-1 {
  width: 25px;
  height: 25px;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > .size-2 {
  width: 30px;
  height: 30px;
}

main > .music-controls > .controls-wrapper > .music-bar-wrapper {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

main > .music-controls > .controls-wrapper > .music-bar-wrapper > p {
  color: var(--clr-white);
}

main > .music-controls > .controls-wrapper > .music-bar-wrapper > input[type="range"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 4px;
  border-radius: 999rem;
  direction: ltr;
}

main > .music-controls > .volume-wrapper {
  position: absolute;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.5rem;
}

main > .music-controls > .volume-wrapper > p {
  color: var(--clr-white);
  width: 3ch;
  text-align: left;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(1) {
  width: 20px;
  height: 20px;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(1) > img {
  width: 100%;
  height: 100%;
}

main > .music-controls > .volume-wrapper > input[type="range"] {
  width: 100px;
  height: 4px;
  border-radius: 0;
  direction: ltr;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(2) {
  width: 25px;
  height: 25px;
  margin-left: 2rem;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(2) > img {
  width: 100%;
  height: 100%;
}

main > .music-controls > .volume-wrapper .lyric-btn-active {
  -webkit-filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
          filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
}

main .lyric-wrapper {
  width: 100%;
  height: 90vh;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: -100%;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .lyric-wrapper > button:nth-of-type(1) {
  position: fixed;
  top: 2vh;
  left: 0;
  background: #1d7dd7;
  z-index: 120;
  border-radius: 0 200px 200px 0;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1.25rem;
}

main .lyric-wrapper > button:nth-of-type(1) > img {
  width: 15px;
  height: 15px;
}

main .lyric-wrapper > .lyrics-music-cover {
  width: 350px;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .lyric-wrapper > .lyrics-music-cover > img {
  width: 80%;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
}

main .lyric-wrapper > .lyrics-music-cover > .music-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.678);
}

main .lyric-wrapper > .lyrics-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 350px;
  font-size: 1rem;
  max-width: 100ch;
  line-height: 2;
  color: rgba(255, 255, 255, 0.678);
}

main .lyric-wrapper > .lyrics-text > .lyric-text {
  padding-bottom: 5rem;
}

main .mobile-navigation {
  display: none;
  width: 100%;
  height: max(12vh, 102px);
  background: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
}

main .mobile-navigation > .music-contolers {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 2px solid #1d7dd77d;
}

main .mobile-navigation > .music-contolers > button {
  width: 25px;
}

main .mobile-navigation > .music-contolers > button > img {
  width: 100%;
  height: 100%;
}

main .mobile-navigation > .music-contolers > button > img:active {
  -webkit-filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
          filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
}

main .mobile-navigation > .music-contolers > .lyric-btn-active {
  -webkit-filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
          filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
}

main .mobile-navigation > .music-contolers > .mobile-info {
  color: var(--clr-white);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-mask: linear-gradient(to right, transparent 0%, black 10px, black calc(100% - 10px), transparent 100%);
}

main .mobile-navigation > .music-contolers > .mobile-info > p {
  font-size: 0.7rem;
  white-space: nowrap;
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .mobile-navigation > .music-contolers > .mobile-info > p span {
  font-size: 0.9rem;
}

main .mobile-navigation > .music-contolers > .mobile-info > p > span:nth-of-type(2) {
  font-size: 2rem;
}

main .mobile-navigation > .music-contolers > .mobile-info-animation > * {
  -webkit-animation: textAnimation 4s linear infinite 2s forwards;
          animation: textAnimation 4s linear infinite 2s forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes textAnimation {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(calc(var(--animation-width) + 10%));
            transform: translateX(calc(var(--animation-width) + 10%));
  }
}

@keyframes textAnimation {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(calc(var(--animation-width) + 10%));
            transform: translateX(calc(var(--animation-width) + 10%));
  }
}

main .mobile-navigation > .tab-navigation {
  height: 7vh;
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .mobile-navigation > .tab-navigation > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem;
  position: relative;
}

main .mobile-navigation > .tab-navigation > button > img {
  width: 25px;
  height: 100%;
}

main .mobile-navigation > .tab-navigation > button > p {
  color: var(--clr-white);
  font-size: 0.8rem;
}

main .mobile-navigation > .tab-navigation > button:focus::after {
  width: 100%;
}

main .mobile-navigation > .tab-navigation > button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #1d7dd7;
  height: 5px;
}

.dark-glass,
.dark-glass2,
.dark-glass3,
.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.dark-glass2 {
  -webkit-animation: opacityAnimation 0.35s ease;
          animation: opacityAnimation 0.35s ease;
}

@-webkit-keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dark-glass,
.dark-glass2 {
  background: rgba(0, 0, 0, 0.85);
}

.dark-glass3 {
  background: -webkit-gradient(linear, left top, left bottom, from(#282828), to(black));
  background: linear-gradient(to bottom, #282828, black);
  z-index: 1999;
}

.bg-cover {
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  background: url(../../assets/images/default-song-cover.svg) center no-repeat;
  background-size: cover;
}

.ctl-btn {
  position: relative;
}

.ctl-btn > img:hover {
  -webkit-filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
          filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
}

.ctl-btn:hover::after {
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.ctl-btn::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  right: 0;
  background: #1d7dd7;
  opacity: 0;
  -webkit-transform: translate(50%, -120%);
          transform: translate(50%, -120%);
  color: var(--clr-white);
  font-size: 0.7rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3rem;
}

.side-menu-closed {
  -webkit-transform: translateX(100%) !important;
          transform: translateX(100%) !important;
}

.side-menu-opener-closer {
  position: absolute;
  top: 2vh;
  right: 0;
  padding: 0.5rem 1rem;
  background: #1d7dd7;
  z-index: 120;
  border-radius: 200px 0 0 200px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu-opener-closer > button {
  width: 15px;
  height: 15px;
}

.side-menu-opener-closer > button > img {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.add-playlist-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 29.375rem;
  height: 32.125rem;
  background: #282828;
  z-index: 999;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.add-playlist-wrapper > div {
  width: 11rem;
  height: 11rem;
  background: #1d7dd7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-playlist-wrapper > div > img {
  width: 50%;
  height: auto;
}

.add-playlist-wrapper > input {
  height: 3rem;
  width: 80%;
  padding-right: 1rem;
}

.add-playlist-wrapper > button {
  color: var(--clr-white);
  font-size: 1rem;
  width: 12rem;
  height: 4rem;
}

.add-playlist-wrapper > button:nth-of-type(1) {
  background: #1d7dd7;
}

.add-playlist-wrapper > button:nth-of-type(1):hover {
  background: #1763aa;
}

.add-playlist-wrapper > button:nth-of-type(1):active {
  background: #11497d;
}

.add-playlist-wrapper > button:nth-of-type(2):hover {
  background: #202020;
}

.add-playlist-wrapper > button:nth-of-type(2):active {
  background: #191919;
}

.song-wrapper-selected {
  background-color: #1d7dd7;
}

.song-wrapper-selected * {
  color: var(--clr-white) !important;
}

.song-wrapper-selected:hover {
  background: #1d7dd7 !important;
}

.side-menu-opended {
  width: calc(100% - 275px) !important;
}

.section-close,
.lyrics-wrapper-open {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.side-menu-opener-closed {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.display-none {
  display: none !important;
}

@media only screen and (max-width: 750px) {
  main > .music-controls {
    display: none;
  }
  main > .section-1 > .side-menu {
    display: none;
  }
  main > .section-1 > .song-list {
    width: 100% !important;
    height: calc(100vh - max(12vh, 102px));
    padding-bottom: 0;
    padding: 5rem 1.5rem;
    gap: 0.5rem;
  }
  main > .section-1 > .song-list > div:nth-of-type(1) > div > label:nth-of-type(2) {
    display: none;
  }
  main > .section-1 > .grid-view {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  main .mobile-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .lyric-wrapper {
    height: calc(100vh - max(12vh, 102px));
  }
  main > .lyric-wrapper > .lyrics-music-cover {
    display: none;
  }
  main > .lyric-wrapper > .lyrics-text {
    margin-right: unset;
  }
  .side-menu-opener-closer {
    display: none;
  }
}

.option-list {
  color: whitesmoke;
}

.remove-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
  gap: 0.5rem !important;
  width: unset !important;
  padding: 1rem !important;
}

.remove-options > button {
  color: var(--clr-white);
}

.remove-options > img {
  width: 1rem;
}

.mobile-song-preview {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 3.5rem 0 3.5rem 0;
}

.mobile-song-preview > input {
  width: 80%;
}

.mobile-song-preview .mobile-song-preview-return {
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 2rem;
  background: #1d7dd7;
  border-radius: 0 999rem 999rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-song-preview .mobile-song-preview-return > img {
  width: 25%;
  height: 100%;
}

.mobile-song-preview .music-bar-wrapper {
  direction: ltr;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-song-preview .music-bar-wrapper > input {
  width: 60%;
}

.mobile-song-preview .mobile-preview-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-song-preview .mobile-preview-controls > button {
  width: 2rem;
  height: 2rem;
}

.mobile-song-preview .mobile-preview-song-cover {
  width: 70%;
  height: auto;
}

.mobile-song-preview .mobile-info {
  color: var(--clr-white);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-mask: linear-gradient(to right, transparent 0%, black 10px, black calc(100% - 10px), transparent 100%);
}

.mobile-song-preview .mobile-info > p {
  font-size: 0.7rem;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mobile-song-preview .mobile-info > p span {
  font-size: 1.5rem;
}

.mobile-song-preview .mobile-info > p > span:nth-of-type(2) {
  font-size: 2rem;
}

.mobile-song-preview > .mobile-info-animation > * {
  -webkit-animation: textAnimation 4s linear infinite 2s forwards;
          animation: textAnimation 4s linear infinite 2s forwards;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@keyframes textAnimation {
  0% {
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    -webkit-transform: translateX(calc(var(--animation-width) + 10%));
            transform: translateX(calc(var(--animation-width) + 10%));
  }
}

.mobile-song-preview .mobile-preview-like,
.mobile-song-preview .mobile-preview-add-playlist {
  position: absolute;
  bottom: 1rem;
  width: 2rem;
  height: 2rem;
}

.mobile-song-preview .mobile-preview-like {
  left: 1rem;
}

.mobile-song-preview .mobile-preview-add-playlist {
  right: 1rem;
}
/*# sourceMappingURL=style.css.map */