$--clr-grayish: #7b7b7b;
$--hover-bg-clr: rgba(138, 135, 135, 0.15);
$--select-bg-clr: hsl(139, 182, 113);
$--selected-bg-blue: rgb(29, 125, 215);

main {
  width: 100%;
  height: 100%;
  overflow: auto;

  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;

  & > section:nth-of-type(1) {
    display: flex;
    flex: 1;

    & > .side-menu {
      width: 275px;
      height: 90vh;
      background: black;
      opacity: 0.65;
      padding-top: 4rem;
      position: fixed;

      display: flex;
      flex-direction: column;
      align-items: center;

      display: none;

      & > * {
        width: 85%;
        height: 3rem;
      }

      & > .search {
        background: rgb(27, 26, 26);

        height: 2.5rem;
        margin-bottom: 0.5rem;

        border-radius: 999rem;

        flex-direction: row-reverse;
        padding-left: 0.5rem;

        display: flex;
        align-items: center;

        & > .search__icon {
          width: 40px;
          height: 50%;
          background: url(../../assets/images/search.svg) no-repeat;
          background-position: center;
          background-size: contain;

          transform: rotate(90deg);
        }

        & > input {
          flex: 1;
          height: 100%;
          padding-right: 0.5rem;
          background: transparent;

          color: whitesmoke;
        }
      }

      & > .btn-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        border-right: 5px solid transparent;

        & > img {
          width: 40px;
          height: 60%;
          padding: 0 0.5rem;
        }

        & > button {
          height: 100%;
          cursor: pointer;
          background: none;
          text-align: right;
          color: var(--clr-white);

          width: 100%;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.486);
        }

        & > .add-btn {
          height: 3rem;
          width: 3rem;
          background: url(../../assets/images/add.svg) no-repeat;
          background-position: center;
          background-size: 50%;
        }
      }

      & > .menu-selected {
        border-right: 5px solid $--selected-bg-blue;
        // background: rgba(255, 255, 255, 0.486);
      }

      .profile-wrapper {
        display: flex;
        width: 100%;
        height: 3rem;
        flex-direction: row-reverse;
        cursor: pointer;
        font-size: 0.8rem;

        margin-top: auto;
        padding: 0 0.5rem;

        & > p {
          flex: 1;
          user-select: none;
          color: var(--clr-white);
          text-align: left;
        }

        & > button {
          width: 3rem;

          display: flex;
          align-items: center;

          & > img {
            width: 40px;
            height: 60%;
          }
        }
      }
    }

    & > .song-list {
      width: 100%;
      height: 90vh;
      overflow-y: scroll;
      flex: 1;
      padding: 5rem 3rem;

      // margin-right: 275px;

      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      & > h2 {
        font-size: 1.5rem;
        color: white;
        line-height: 2;
      }

      & p {
        color: var(--clr-white);
        user-select: none;
      }

      & > .song-wrapper {
        width: 100%;
        height: 3rem;

        display: flex;
        align-items: center;

        & > .song-cover {
          width: 3rem;
          height: 3rem;
          // background: black;

          overflow: hidden;

          & > img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            user-select: none;
          }
        }

        & > :is(.song-prop, .song-info) {
          display: flex;
          flex-direction: column;
          height: 80%;
          justify-content: space-evenly;
          align-items: space-evenly;
        }

        & > .song-info {
          margin-right: 0.5rem;

          & > p:first-child {
            font-size: 0.8rem;
          }

          & > p:last-child {
            color: $--clr-grayish;
            font-size: 0.7rem;
          }

          & > .author-name-selected {
            color: var(--clr-white) !important;
          }
        }

        & > .song-prop {
          margin-right: auto;
          margin-left: 0.5rem;
          align-items: flex-end;

          & > img {
            width: 15px;
          }
        }

        &:hover {
          background: $--hover-bg-clr;
        }
      }

      & > .song-wrapper-selected {
        background-color: $--selected-bg-blue;

        &:hover {
          background: $--selected-bg-blue;
        }
      }
    }
  }

  & > .music-controls {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 10vh;
    width: 100%;

    border-top: 2px solid #1d7dd77d;

    display: flex;
    align-items: center;

    & > div {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > .info-wrapper {
      position: absolute;
      right: 0rem;
      display: flex;
      gap: 0.7rem;

      & > img {
        height: calc(100% - 2px);
      }

      & > div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        & > p {
          color: var(--clr-white);
        }

        & > p:first-child {
          font-size: 1rem;
        }

        & > p:last-child {
          font-size: 0.7rem;
        }
      }
    }

    & > .controls-wrapper {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > div:nth-of-type(1) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0.5rem;

        & > button {
          display: flex;
          justify-content: center;
          align-items: center;

          margin: 0 0.4rem;

          & > img {
            width: 65%;
            height: 65%;

            &:hover {
              filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
            }
          }
        }

        & > .size-1 {
          width: 25px;
          height: 25px;
        }

        & > .size-2 {
          width: 30px;
          height: 30px;
        }
      }

      & > .music-bar-wrapper {
        width: 45%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.5rem;

        & > p {
          color: var(--clr-white);
        }

        & > input[type="range"] {
          flex: 1;
          height: 4px;
          border-radius: 999rem;
          direction: ltr;
        }
      }
    }

    & > .volume-wrapper {
      position: absolute;
      left: 1rem;

      display: flex;
      flex-direction: row-reverse;
      gap: 0.5rem;

      & > img {
        width: 20px;
        height: 20px;
      }
      & > input[type="range"] {
        width: 100px;
        height: 4px;
        border-radius: 0;
        direction: ltr;
      }
    }
  }
}
.dark-glass,
.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.dark-glass {
  background: rgba(0, 0, 0, 0.85);
}

.bg-cover {
  transition: background 1s ease;

  background: url(../../assets/images/default-song-cover.svg) center no-repeat;
  background-size: cover;
}
