main {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main > section:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main > section:nth-of-type(1) > .side-menu {
  width: 275px;
  height: 90vh;
  background: black;
  opacity: 0.65;
  padding-top: 4rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

main > section:nth-of-type(1) > .side-menu > * {
  width: 85%;
  height: 3rem;
}

main > section:nth-of-type(1) > .side-menu > .search {
  background: #1b1a1a;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  border-radius: 999rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > section:nth-of-type(1) > .side-menu > .search > .search__icon {
  width: 40px;
  height: 50%;
  background: url(../../assets/images/search.svg) no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

main > section:nth-of-type(1) > .side-menu > .search > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  padding-right: 0.5rem;
  background: transparent;
  color: whitesmoke;
}

main > section:nth-of-type(1) > .side-menu > .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-right: 5px solid transparent;
}

main > section:nth-of-type(1) > .side-menu > .btn-wrapper > img {
  width: 40px;
  height: 60%;
  padding: 0 0.5rem;
}

main > section:nth-of-type(1) > .side-menu > .btn-wrapper > button {
  height: 100%;
  cursor: pointer;
  background: none;
  text-align: right;
  color: var(--clr-white);
  width: 100%;
}

main > section:nth-of-type(1) > .side-menu > .btn-wrapper:hover {
  background: rgba(255, 255, 255, 0.486);
}

main > section:nth-of-type(1) > .side-menu > .btn-wrapper > .add-btn {
  height: 3rem;
  width: 3rem;
  background: url(../../assets/images/add.svg) no-repeat;
  background-position: center;
  background-size: 50%;
}

main > section:nth-of-type(1) > .side-menu > .menu-selected {
  border-right: 5px solid #1d7dd7;
}

main > section:nth-of-type(1) > .side-menu .profile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  cursor: pointer;
  font-size: 0.8rem;
  margin-top: auto;
  padding: 0 0.5rem;
}

main > section:nth-of-type(1) > .side-menu .profile-wrapper > p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--clr-white);
  text-align: left;
}

main > section:nth-of-type(1) > .side-menu .profile-wrapper > button {
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > section:nth-of-type(1) > .side-menu .profile-wrapper > button > img {
  width: 40px;
  height: 60%;
}

main > section:nth-of-type(1) > .song-list {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

main > section:nth-of-type(1) > .song-list > h2 {
  font-size: 1.5rem;
  color: white;
  line-height: 2;
}

main > section:nth-of-type(1) > .song-list p {
  color: var(--clr-white);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper {
  width: 100%;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-cover {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-cover > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > :is(.song-prop, .song-info) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-info {
  margin-right: 0.5rem;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-info > p:first-child {
  font-size: 0.8rem;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-info > p:last-child {
  color: #7b7b7b;
  font-size: 0.7rem;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-info > .author-name-selected {
  color: var(--clr-white) !important;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-prop {
  margin-right: auto;
  margin-left: 0.5rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper > .song-prop > img {
  width: 15px;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper:hover {
  background: rgba(138, 135, 135, 0.15);
}

main > section:nth-of-type(1) > .song-list > .song-wrapper-selected {
  background-color: #1d7dd7;
}

main > section:nth-of-type(1) > .song-list > .song-wrapper-selected:hover {
  background: #1d7dd7;
}

main > .music-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  border-top: 2px solid #1d7dd77d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .music-controls > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .music-controls > .info-wrapper {
  position: absolute;
  right: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 2rem;
}

main > .music-controls > .info-wrapper:hover {
  background: rgba(0, 0, 0, 0.2);
}

main > .music-controls > .info-wrapper > img {
  height: calc(100% - 2px);
}

main > .music-controls > .info-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .music-controls > .info-wrapper > div > p {
  color: var(--clr-white);
  width: 3ch;
  text-align: left;
}

main > .music-controls > .info-wrapper > div > p:first-child {
  font-size: 1rem;
}

main > .music-controls > .info-wrapper > div > p:last-child {
  font-size: 0.7rem;
}

main > .music-controls > .controls-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.4rem;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > button > img {
  width: 65%;
  height: 65%;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > .size-1 {
  width: 25px;
  height: 25px;
}

main > .music-controls > .controls-wrapper > div:nth-of-type(1) > .size-2 {
  width: 30px;
  height: 30px;
}

main > .music-controls > .controls-wrapper > .music-bar-wrapper {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

main > .music-controls > .controls-wrapper > .music-bar-wrapper > p {
  color: var(--clr-white);
}

main > .music-controls > .controls-wrapper > .music-bar-wrapper > input[type="range"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 4px;
  border-radius: 999rem;
  direction: ltr;
}

main > .music-controls > .volume-wrapper {
  position: absolute;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 0.5rem;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(1) {
  width: 20px;
  height: 20px;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(1) > img {
  width: 100%;
  height: 100%;
}

main > .music-controls > .volume-wrapper > input[type="range"] {
  width: 100px;
  height: 4px;
  border-radius: 0;
  direction: ltr;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(2) {
  width: 25px;
  height: 25px;
  margin-left: 2rem;
}

main > .music-controls > .volume-wrapper > button:nth-of-type(2) > img {
  width: 100%;
  height: 100%;
}

.dark-glass,
.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.dark-glass {
  background: rgba(0, 0, 0, 0.85);
}

.bg-cover {
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  background: url(../../assets/images/default-song-cover.svg) center no-repeat;
  background-size: cover;
}

.ctl-btn:hover {
  -webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
          filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
}
/*# sourceMappingURL=style.css.map */