$--lg-bg-1: hsl(212, 19%, 15%);
$--lg-bg-2: hsl(215, 39%, 30%);
$--lg-bg-3: hsl(166, 24%, 39%);
$--lg-bg-4: hsl(24, 99%, 45%);
$--icon-size: 1.25rem;
$--clr-error: rgb(255, 255, 255);
$--clr-white: rgb(255, 255, 255);
$--clr-background-warning: rgba(255, 251, 0, 0.431);
$--clr-background-error: rgba(255, 0, 0, 0.431);
$--clr-boarder-error: rgb(255, 0, 0);
$--clr-boarder-warning: rgb(255, 238, 0);

$--lg-bg-5: hsl(274, 48%, 19%);
$--lg-bg-6: hsl(255, 69%, 14%);
$--lg-bg-7: hsl(294, 50%, 4%);
$--lg-bg-8: hsl(265, 12%, 58%);
$--lg-bg-9: hsl(252, 22%, 47%);
$--lg-bg-10: hsl(195, 14%, 23%);
$--lg-bg-11: hsl(278, 20%, 63%);
$--lg-bg-12: hsl(266, 73%, 66%);
$--lg-bg-13: hsl(220, 92%, 20%);
$--lg-bg-14: hsl(197, 19%, 93%);
$--lg-bg-15: hsl(1, 43%, 74%);
$--lg-bg-16: hsl(211, 86%, 41%);
$--lg-bg-17: hsl(186, 100%, 31%);
$--lg-bg-18: hsl(206, 100%, 6%);

@mixin _body-bg-animation($deg, $duration, $start, $end, $animationName) {
    background: linear-gradient(
        $deg,
        $--lg-bg-4 0 7.5%,
        $--lg-bg-3 7.5% 15%,
        $--lg-bg-2 15% 22.5%,
        $--lg-bg-1 22.5% 30%
    );
 
    background-size: 150% 150%;
    animation: $animationName $duration ease;
    animation-fill-mode: forwards;

    @keyframes #{$animationName} {
        from {
            background-position: $start $start;
        }
        to {
            background-position: $end $end;
        }
    }
}

@mixin _mobile-body-bg-animation($deg) {
    background: linear-gradient($deg, $--lg-bg-4 0 5%, $--lg-bg-3 5% 10%, $--lg-bg-2 10% 15%, $--lg-bg-1 15% 20%);
    background-size: 150% 150%;
}

main {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    padding: 0 9vw;

    @include _body-bg-animation(-45deg, 1.5s, 0%, 100%, bgAnimation1);

    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: relative;

    > .form-wrapper {
        width: 28.125rem;
        height: 70%;
        box-shadow: inset 0 0 0.3em var(--clr-white), 0 0 0.3em var(--clr-white);

        transition: transform 1s ease;
    }
}

.display-none {
    display: none !important;
}

.signup-form-wrapper {
    transform: translateX(calc(82vw - 100%));
}

.bg-animation-1 {
    @include _body-bg-animation(-45deg, 1.5s, 0%, 100%, bgAnimation1);
}

.bg-animation-2 {
    @include _body-bg-animation(-45deg, 1s, 100%, 0%, bgAnimation2);
}

.bg-animation-3 {
    @include _body-bg-animation(135deg, 1.5s, 100%, 0%, bgAnimation3);
}

.bg-animation-4 {
    @include _body-bg-animation(135deg, 1s, 0%, 100%, bgAnimation4);
}

@media only screen and (max-width: 900px) {
    main {
        justify-content: center;

        > .form-wrapper {
            transform: none;
            transition: none;
        }
    }

    .bg-animation-1 {
        @include _mobile-body-bg-animation(0deg);
    }

    .bg-animation-2 {
        @include _mobile-body-bg-animation(0deg);
    }

    .bg-animation-3 {
        @include _mobile-body-bg-animation(180deg);
    }

    .bg-animation-4 {
        @include _mobile-body-bg-animation(180deg);
    }
}

.stop-transitions * {
    transition: none !important;
}

.show-pass-cta {
    cursor: pointer;
}
