main {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  padding: 0 9vw;
  background: linear-gradient(-45deg, #e45c01 0 7.5%, #4c7b70 7.5% 15%, #2f486a 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bgAnimation1 1.5s ease;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
@keyframes bgAnimation1 {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
main > .form-wrapper {
  width: 28.125rem;
  height: 70%;
  box-shadow: inset 0 0 0.3em var(--clr-white), 0 0 0.3em var(--clr-white);
  transition: transform 1s ease;
}

.display-none {
  display: none !important;
}

.signup-form-wrapper {
  transform: translateX(calc(82vw - 100%));
}

.bg-animation-1 {
  background: linear-gradient(-45deg, #e45c01 0 7.5%, #4c7b70 7.5% 15%, #2f486a 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bgAnimation1 1.5s ease;
  animation-fill-mode: forwards;
}
@keyframes bgAnimation1 {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

.bg-animation-2 {
  background: linear-gradient(-45deg, #e45c01 0 7.5%, #4c7b70 7.5% 15%, #2f486a 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bgAnimation2 1s ease;
  animation-fill-mode: forwards;
}
@keyframes bgAnimation2 {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

.bg-animation-3 {
  background: linear-gradient(135deg, #e45c01 0 7.5%, #4c7b70 7.5% 15%, #2f486a 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bgAnimation3 1.5s ease;
  animation-fill-mode: forwards;
}
@keyframes bgAnimation3 {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}

.bg-animation-4 {
  background: linear-gradient(135deg, #e45c01 0 7.5%, #4c7b70 7.5% 15%, #2f486a 15% 22.5%, #1f262e 22.5% 30%);
  background-size: 150% 150%;
  animation: bgAnimation4 1s ease;
  animation-fill-mode: forwards;
}
@keyframes bgAnimation4 {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

@media only screen and (max-width: 900px) {
  main {
    justify-content: center;
  }
  main > .form-wrapper {
    transform: none;
    transition: none;
  }

  .bg-animation-1 {
    background: linear-gradient(0deg, #e45c01 0 5%, #4c7b70 5% 10%, #2f486a 10% 15%, #1f262e 15% 20%);
    background-size: 150% 150%;
  }

  .bg-animation-2 {
    background: linear-gradient(0deg, #e45c01 0 5%, #4c7b70 5% 10%, #2f486a 10% 15%, #1f262e 15% 20%);
    background-size: 150% 150%;
  }

  .bg-animation-3 {
    background: linear-gradient(180deg, #e45c01 0 5%, #4c7b70 5% 10%, #2f486a 10% 15%, #1f262e 15% 20%);
    background-size: 150% 150%;
  }

  .bg-animation-4 {
    background: linear-gradient(180deg, #e45c01 0 5%, #4c7b70 5% 10%, #2f486a 10% 15%, #1f262e 15% 20%);
    background-size: 150% 150%;
  }
}
.stop-transitions * {
  transition: none !important;
}

.show-pass-cta {
  cursor: pointer;
}

/*# sourceMappingURL=auth.component.css.map */
