$--clr-grayish: #7b7b7b;
$--hover-bg-clr: rgba(138, 135, 135, 0.15);
$--select-bg-clr: hsl(139, 182, 113);
$--selected-bg-blue: rgb(29, 125, 215);
$--bg-glass: rgba(0, 0, 0, 0.85);
$--bg-mellow-black: rgb(40, 40, 40);
$--bg-mellow-black2: rgb(34, 33, 33);
$--border-radius-check-box: 2px;
$--check-box-width: 1rem;

:host {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    background: $--bg-mellow-black;
    z-index: 200;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding: 0 1.5rem;
    padding-left: 0.1rem;

    p {
        font-size: 0.8rem;
        color: var(--clr-white);

        user-select: none;
    }

    .header {
        display: flex;
        align-items: center;
        height: 3rem;

        border-bottom: 2px solid $--clr-grayish;
        width: calc(100% + 1.5rem);
        position: relative;
        left: 1.5rem;
        padding: 0.5rem 1.5rem;
        p {
            font-size: 1rem;
        }

        button {
            height: 0.9rem;
            width: auto;
            margin-right: auto;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .playlist-wrapper {
        max-height: 9rem;
        min-height: 5.5rem;
        overflow-y: overlay;

        display: flex;
        flex-direction: column;
        padding: 0.8rem 0;

        gap: 0.8rem;
    }

    .playlists-container {
        display: flex;
        flex-direction: column;

        .playlists {
            display: flex;
            align-items: center;

            height: 2rem;
            input {
                display: none;
            }

            input:checked ~ label {
                background: $--selected-bg-blue;
            }
        }

        .checkbox-container {
            display: flex;
            grid-area: 0.7rem;

            label {
                p {
                    margin-right: 1.7rem;
                }
            }
        }

        .checkbox-label {
            display: block;
            position: relative;
            cursor: pointer;
            font-size: 18px;
            line-height: $--check-box-width;
            height: $--check-box-width;
            width: $--check-box-width;
            clear: both;
            width: 100%;
        }

        .checkbox-label input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }

        .checkbox-label .checkbox-custom {
            position: absolute;
            top: 0px;
            right: 0px;
            height: $--check-box-width;
            width: $--check-box-width;
            background-color: transparent;
            border-radius: $--border-radius-check-box;
            border: 2px solid var(--clr-white);
        }

        .checkbox-label input:checked ~ .checkbox-custom {
            background: $--selected-bg-blue;
            border-radius: $--border-radius-check-box;
            transform: rotate(0deg) scale(1);
            opacity: 1;
            border: 2px solid $--selected-bg-blue;
        }

        .checkbox-label .checkbox-custom::after {
            position: absolute;
            content: '';
            opacity: 1;
        }

        .checkbox-label input:checked ~ .checkbox-custom::after {
            position: absolute;
            opacity: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%) rotate(45deg) scale(1);
            width: 40%;
            height: 80%;
            border: solid var(--clr-white);
            border-width: 0 2px 2px 0;
            background-color: transparent;
            border-radius: 0;
        }
    }
}

.create-new-palylist {
    padding-right: 1.3rem;
    width: calc(100% + 3rem);
    left: 1.5rem;
    cursor: pointer;
    height: 3rem;
    margin-top: auto;
    background: $--bg-mellow-black2;
    position: relative;
    left: 1.5rem;
    border-top: 2px solid $--clr-grayish;

    display: flex;
    align-items: center;

    img {
        height: 50%;
        width: auto;
        margin-left: 0.7rem;
    }
}
