<div class="header">
    <p>افزودن به...</p>
    <button (click)="closeNewPlaylistPanel()"><img src="../../../assets/images/controls/cancel.svg" alt="" /></button>
</div>
<hr />

<div class="playlist-wrapper">
    <div class="playlists-container" *ngFor="let playlist of playlists; let i = index">
        <div class="checkbox-container">
            <label class="checkbox-label">
                <input type="checkbox" />
                <span class="checkbox-custom rectangular"></span>
                <p>{{ playlist }}</p>
            </label>
        </div>
    </div>
</div>

<div class="create-new-palylist">
    <div
        class="make-new-playlist-wrapper"
        *ngIf="!isCreatePlaylistPanelOpen"
        (click)="isCreatePlaylistPanelOpen = !isCreatePlaylistPanelOpen"
    >
        <img src="../../../assets/images/add.svg" alt="" />
        <p>ساخت پلی‌لیست جدید</p>
    </div>

    <div
        class="make-new-playlist-options"
        [ngClass]="error !== '' ? 'more-space-for-error' : ''"
        *ngIf="isCreatePlaylistPanelOpen"
    >
        <input type="text" [(ngModel)]="playlistName" name="playlist-name" placeholder="نام پلی‌لیست جدید..." />
        <div class="btn-wrapper">
            <button
                (click)="createNewPlaylist()"
                [style.cursor]="loading ? 'wait' : playlistName === '' ? 'not-allowed' : 'pointer'"
                [disabled]="playlistName === ''"
                [attr.data-error]="error !== '' ? error : ''"
                [ngClass]="error !== '' && !loading ? 'error' : ''"
            >
                ساخت پلی‌لیست
            </button>
            <button (click)="onCancleClick()">انصراف</button>
        </div>
    </div>
</div>
