<section class="mobile-navigation">
    <div class="music-contolers">
        <button id="lyrics-btn-mobile" (click)="lyricToggler()">
            <img src="../../../../assets/images/controls/lyric.svg" alt="lyrics button" />
        </button>

        <div class="mobile-info" (click)="onSongPreviewToggle()">
            <p>
                <span class="mobile-music-name"></span><span>&nbsp;•&nbsp;</span>
                <span class="mobile-artist-name"></span>
            </p>
        </div>

        <button class="play-music-btn" (click)="onPlay()">
            <img                [src]="
                    status === statusTypes.PLAYING
                        ? '../../../assets/images/controls/pause.svg'
                        : status === statusTypes.LOADING
                        ? '../../../assets/images/controls/loading.svg'
                        : '../../../assets/images/controls/play-button.svg'
                " alt="play puase button" />
        </button>
    </div>

    <div class="tab-navigation">
        <button id="all-songs-tab-navigation-mobile" class="tab-nav">
            <img src="../../../../assets/images/playlist.svg" alt="all songs tab" />
            <p>همه آهنگ ها</p>
        </button>

        <button class="tab-nav">
            <img src="../../../../assets/images/favourite.svg" alt="favourite songs tab" />
            <p>مورد علاقه</p>
        </button>

        <button class="tab-nav">
            <img src="../../../../assets/images/playlist-add.svg" alt="playlist tab" />
            <p>پلی لیست ها</p>
        </button>

        <button class="tab-nav">
            <img src="../../../../assets/images/logout.svg" alt="logout button" />
            <p>خروج</p>
        </button>
    </div>
</section>
