<header [ngClass]="!isFirstSection ? 'header-transition' : ''">
    <div class="logo-wrapper">
        <img src="../../assets/images/new-landing/logo.svg" alt="" />
    </div>
    <ul>
        <li>
            <a [routerLink]="['auth']" [queryParams]="{name: 'register'}">ثبت‌ نام</a>
        </li>
        <li>
            <a [routerLink]="['auth']" [queryParams]="{name: 'login'}">ورود</a>
        </li>
    </ul>
</header>

<div class="container" (scroll)="onScroll($event)">
    <section class="section-1">
        <div class="text-wrapper">
            <h1>به موزیک کلاب خوش اومدید</h1>
            <h3>موزیک کلاب پاتوق عاشقان موسیقی ئه</h3>
            <h3>این جا میتونی هر آهنگی که میخوای رو پیدا کنی و بهش گوش بدی</h3>
        </div>
        <div class="wave-wrapper">
            <img src="../../assets/images/new-landing/wave-line.svg" alt="" />
        </div>
    </section>

    <section class="section-2">
        <div class="text-wrapper">
            <h1>کلی آهنگ، کلی لذت، کلی حال</h1>
            <h3>بیش از 10000 آهنگ از خواننده های مختلف</h3>
            <h3>دلت میخواد بتونی متن آهنگ ها رو هم ببینی؟ خوب جایی اومدی</h3>
        </div>

        <div class="wave-wrapper">
            <img src="../../assets/images/new-landing/section-2.svg" alt="" />
        </div>
    </section>

    <section class="section-3">
        <div class="wrapper">
            <div class="text-wrapper">
                <h1>حوصله ثبت‌نام کردن نداری؟</h1>
                <h3>میتونی بدون ثبت‌نام کردن هم به آهنگ ها گوش کنی</h3>
                <h3>ولی کسایی که ثبت نام کنن از مزایای بیشتری، مثل دانلود آهنگ بهره‌مند میشن</h3>
                <div class="btn-wrapper">
                    <button>ثبت‌نام / ورود</button>
                    <button>عشقکی وارد شو</button>
                </div>
            </div>
        </div>

        <div class="wave-wrapper">
            <img src="../../assets/images/new-landing/section-3.svg" alt="" />
        </div>
    </section>

    <section class="section-4">
        <div class="text-wrapper">
            <h1>پروژه موزیک کلاب</h1>
            <h3>تیم 7</h3>
            <h3>پارسا اروانه</h3>
            <h3>میلاد نفر</h3>
            <h3>کارآموزی تابستان 1400</h3>
        </div>

        <div class="wave-wrapper">
            <img src="../../assets/images/new-landing/section-4.svg" alt="" />
        </div>
    </section>
</div>
