<main>
    <section class="section-1" [ngClass]="isLyricPanelOpen ? 'section-close' : ''">
        <app-side-menu [isOpen]="!sideMenuOpen"></app-side-menu>
        <app-song-list [ngClass]="sideMenuOpen ? 'side-menu-opened' : ''"></app-song-list>
    </section>
    <app-play-controllers [isMobile]="false" (lyricToggle)="lyricPanelToggle()"></app-play-controllers>

    <app-lyrics [isPanelOpen]="isLyricPanelOpen" (toggleLyric)="lyricPanelToggle()"></app-lyrics>
    <app-mobile (toggleLyric)="lyricPanelToggle()"></app-mobile>
</main>
<div class="bg-cover" [ngStyle]="{background: background,backgroundSize: 'cover'}"></div>
<div class="dark-glass"></div>

<div class="dark-glass3 display-none"></div>

<div *ngIf="!isLyricPanelOpen" class="side-menu-opener-closer" (click)="onToggleSideMenu()">
    <button id="side-menu-opener-closer-btn">
        <img
            [src]="sideMenuOpen ? '../../../assets/images/add.svg' : '../../../assets/images/controls/menu.svg'"
            alt="menu button"
            [ngClass]="sideMenuOpen ? 'rotate' : ''"
        />
    </button>
</div>

<app-notification
    *ngIf="showNotification"
    [show]="showNotification"
    [message]="messageNotification"
    [isError]="isErrorNotification"
></app-notification>
