@font-face {
  font-family: "Sahel";
  src: url("../assets/fonts/Sahel-Bold.ttf");
  src: url("../assets/fonts/Sahel.ttf");
  ///woof bezar
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sahel", sans-serif;
  outline: none;
  border: none;
}

:root {
  --clr-bg: hsl(323 21% 16%);
  --clr-blue: rgb(8, 192, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-white: rgb(255, 255, 255);
  --lg-bg-1: #ee7752;
  --lg-bg-2: #e73c7e;
  --lg-bg-3: #23a6d5;
  --lg-bg-4: #23d5ab;
}

body {
  width: 100vw;
  height: 100vh;

  font-size: 62.5%;
  direction: rtl;
}

p,
a,
h1,
h6,
span,
input,
label {
  text-align: right;
}
