@font-face {
  font-family: "Sahel";
  src: url("../assets/fonts/Sahel-Bold.ttf");
  src: url("../assets/fonts/Sahel.ttf");
  ///woof bezar
}

$--font-size-sm: 1rem;
$--font-size-md: 1.5rem;
$--font-size-lg: 2rem;
$--font-size-xl: 2.5rem;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sahel", sans-serif;
  outline: none;
  border: none;
}

$--clr-scrollbar: rgb(29, 125, 215);

:root {
  --clr-bg: hsl(323 21% 16%);
  --clr-blue: rgb(8, 192, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-white: rgb(255, 255, 255);
  --lg-bg-1: #ee7752;
  --lg-bg-2: #e73c7e;
  --lg-bg-3: #23a6d5;
  --lg-bg-4: #23d5ab;
  --clr-gray-light: rgb(200, 200, 200);
  --font-size-xl: 2.5rem;
}

body {
  width: 100vw;
  height: 100vh;

  font-size: 62.5%;
  direction: rtl;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

p,
a,
h1,
h6,
span,
input,
label {
  text-align: right;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 1rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: $--clr-scrollbar;

  border: none;
  border-radius: 1rem;
}

input[type="range"] {
  & {
    // -webkit-appearance: none;
  }

  &::-webkit-slider-thumb {
    // visibility: hidden;
  }

  &:hover::-webkit-slider-thumb {
    // visibility: visible;
  }
}
