$--clr-grayish: #7b7b7b;
$--hover-bg-clr: rgba(138, 135, 135, 0.15);
$--select-bg-clr: hsl(139, 182, 113);
$--selected-bg-blue: rgb(29, 125, 215);
$--bg-glass: rgba(0, 0, 0, 0.85);
$--bg-mellow-black: rgb(40, 40, 40);
:host {
    width: 100%;
    height: 90vh;
    margin-right: auto;

    .song-list {
        width: 100%;
        height: 90vh;
        overflow-y: scroll;
        padding: 5rem 3rem;

        transition: width 0.1s linear;

        margin-right: auto;

        position: relative;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        > div:nth-of-type(1) {
            display: flex;
            align-items: center;

            > h2 {
                font-size: 1.5rem;
                color: white;
                line-height: 2;
            }
            // TODO
            // > .song-list-view-wrapper {
            //     margin-right: auto;
            //     display: flex;
            //     flex-direction: row-reverse;
            //     gap: 0.5rem;
            //     margin-left: 0.5rem;

            //     > label {
            //         display: flex;
            //         justify-content: center;
            //         align-items: center;

            //         > img {
            //             width: 17px;
            //             height: 17px;
            //             cursor: pointer;
            //         }
            //     }

            //     > input[type='radio'] {
            //         display: none;

            //         + label > img {
            //             filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
            //         }

            //         &:checked + label > img {
            //             filter: invert(39%) sepia(96%) saturate(903%) hue-rotate(184deg) brightness(86%) contrast(97%);
            //         }
            //     }

            //     > label:nth-of-type(1) > img {
            //         transform: rotate(180deg);
            //     }
            // }
        }

        p {
            color: var(--clr-white);
            user-select: none;
        }

        > .song-wrapper {
            width: 100%;
            height: 3rem;

            display: flex;
            align-items: center;

            position: relative;

            > .song-cover {
                width: 3rem;
                height: 3rem;
                // background: black;

                overflow: hidden;

                > img {
                    width: 100%;
                    height: 100%;

                    object-fit: cover;
                    user-select: none;
                }
            }

            > :is(.song-prop, .song-info) {
                display: flex;
                flex-direction: column;
                height: 80%;
                justify-content: space-evenly;
                align-items: space-evenly;
            }

            & > .more-options {
                height: 35%;
                width: 0.5rem;

                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0.5rem;

                background: url(../../../assets/images/more.svg) no-repeat;
                background-size: cover;
                background-position: center;
                display: none;

                align-items: center;
                justify-content: flex-start;
            }

            .more-options:hover {
                & ~ .options {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }

            > .options {
                position: absolute;
                top: 30%;
                left: 1rem;
                width: 10rem;
                // padding: 2rem;
                background: $--bg-mellow-black;
                border-radius: 10px;
                display: none;
                z-index: 400;

                & > p {
                    border-bottom: 1px solid $--selected-bg-blue;
                    padding: 0.5rem;
                    font-size: 0.8rem;
                }

                > ul {
                    list-style: none;
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;

                    > li {
                        width: 100%;
                        font-size: 0.8rem;
                        cursor: pointer;

                        &:hover {
                            background: darken($--bg-mellow-black, 1);
                        }
                    }
                }

                &:hover {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }

            > .song-info {
                margin-right: 0.5rem;

                > p:first-child {
                    font-size: 0.85rem;
                }

                > p:last-child {
                    color: $--clr-grayish;
                    font-size: 0.75rem;
                }

                > .author-name-selected {
                    color: var(--clr-white) !important;
                }
            }

            > .song-prop {
                margin-right: auto;
                margin-left: 1.5rem;
                align-items: flex-end;

                > img {
                    width: 15px;
                }
            }

            &:hover {
                background: $--hover-bg-clr;
                .more-options {
                    display: block;
                }
            }
        }

        > .is-playing * {
            color: $--selected-bg-blue !important;
        }

        > .song-wrapper-selected {
            background-color: $--selected-bg-blue;
            * {
                color: var(--clr-white) !important;
            }

            &:hover {
                background: $--selected-bg-blue;
            }
        }

        > .placeholders-wrapper {
            position: absolute;
            top: calc(5rem + 3rem + 0.25rem);
            left: 3rem;
            width: calc(100% - 6rem);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.25rem;

            * {
                background: linear-gradient(var(--placeholder-rotation), $--bg-mellow-black, $--selected-bg-blue);
            }

            > .place-holders {
                width: 100%;
                height: 3rem;
                background: transparent !important;

                display: flex;

                .img-placeholder {
                    width: 3rem;
                    height: 3rem;
                    border-radius: 100%;
                }

                .right-info-placeholder {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 0.2rem;
                    background: none;
                    margin-right: 0.3rem;

                    > div {
                        border-radius: 999rem;
                        height: 35%;
                    }

                    .title-placeholder {
                        width: 60px;
                    }

                    .artist-placeholder {
                        width: 100px;
                    }
                }

                .left-info-placeholder {
                    width: 3rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 0.2rem;
                    margin-left: 0.5rem;
                    background: none;

                    > div {
                        height: 35%;
                        border-radius: 999rem;
                    }

                    > .duration-placeholder {
                        width: 3rem;
                    }

                    > .like-btn-placeholder {
                        width: 2rem;
                    }
                }
            }
        }
        .playlist-wrapper {
            display: flex;
            flex-direction: column;
            height: auto;
            align-items: center;

            > * {
                width: 98%;
            }

            > .playlist-options {
                > img {
                    width: 2rem;
                }
            }

            > .playlist-cover {
                width: 98%;
                height: auto;
                overflow: unset;
                align-self: center;

                img {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }
            }

            > .playlist-info {
                > p {
                    font-size: 0.8rem;
                }
            }

            > .playlist-options {
                display: flex;
                justify-content: flex-end;
            }

            &:hover {
                background: $--hover-bg-clr;
            }
        }
    }

    .list-compact-view {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        > div:nth-of-type(1) {
            grid-column: 1/-1;
            grid-row: 1 /1;

            align-self: baseline;
        }
    }

    .grid-view {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;

        > div:nth-of-type(1) {
            grid-column: 1/-1;
            grid-row: 1 /1;

            align-self: baseline;
        }

        > .song-wrapper {
            display: flex;
            flex-direction: column;
            height: auto;

            > .song-cover {
                width: 98%;
                height: auto;
                overflow: unset;

                > img {
                    object-fit: contain;
                }
            }

            > .song-info {
                justify-content: flex-start;
                width: 98%;
            }

            > .song-prop {
                margin-left: 0.5rem;
            }

            > .more-options {
                height: 5%;
                bottom: 10%;
                top: unset;
            }

            > .options {
                bottom: 13%;
                top: unset;
            }
        }
    }
}
