<div class="add-playlist-wrapper">
    <div>
        <img src="../../../assets/images/playlist-add.svg" alt="add play list" />
    </div>
    <input type="text" placeholder="نام پلی‌لیست جدید" [(ngModel)]="playlistName" />

    <button
        id="make-playlist"
        (click)="createNewPlaylist(playlistName)"
        [style.cursor]="loading ? 'wait' : playlistName === '' ? 'not-allowed' : 'pointer'"
        [disabled]="playlistName === ''"
        [attr.data-error]="error !== '' ? error : ''"
        [ngClass]="error !== '' && !loading ? 'error' : ''"
    >
        ساخت پلی لیست
    </button>
    <button (click)="closeNewPlaylistPanel()">انصراف</button>
</div>
